<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="author" content="TSK">
    <meta name="description" content="code test를 위한 환경구성">
    <meta name="keywords" content="코드테스트, code test">
    <meta property="og:type" content="website">
    <meta property="og:title" content="<%= title %>">
    <meta property="og:description" content="code test를 위한 환경구성">
    <meta property="og:image" content="https://frontstory.herokuapp.com/images/temp/logo.png">
    <meta property="og:image:width" content="200" />
    <meta property="og:image:height" content="200" />
    <meta property="og:url" content="https://frontstory.herokuapp.com/">

    <title><%= title %></title>
	  <link rel="canonical" href="https://frontstory.herokuapp.com/">
	  <link rel="shortcut icon" sizes="192x192" href="/images/favicon/mobile_img.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/images/favicon/mobile_img.png">
    <link rel="stylesheet" href="/css/reset.css" media="screen, print">
    <link rel="stylesheet" href="/css/layout.css" media="screen, print">
  </head>

  <body>
    <noscript>
    </noscript>
    <div id="app">
	    <h1><%= title %></h1>
	    <p>Welcome to <%= title %></p>
    </div>
    <!-- built files will be auto injected -->
  </body>
</html>