<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<meta name="author" content="TSK">
	<meta name="description" content="code test를 위한 환경구성">
	<meta name="keywords" content="코드테스트, code test">
	<meta property="og:type" content="website">
	<meta property="og:title" content="<%= title %>">
	<meta property="og:description" content="code test를 위한 환경구성">
	<meta property="og:image" content="https://frontstory.herokuapp.com/images/temp/logo.png">
	<meta property="og:image:width" content="200"/>
	<meta property="og:image:height" content="200"/>
	<meta property="og:url" content="https://frontstory.herokuapp.com/scroll">

	<title><%= title %></title>
	<link rel="canonical" href="https://frontstory.herokuapp.com/scroll">
	<link rel="stylesheet" href="/css/reset.css" media="screen, print">
	<link rel="stylesheet" href="/css/scrollTransform.css" media="screen, print">
</head>

<body>
<div id="app">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.0/TweenMax.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/latest/plugins/ScrollToPlugin.min.js"></script>

	<section class="section-01">
		<article class="img-wrap">
			<div class="img-code"></div>
		</article>

		<article class="bg-wrap">
			<div class="page-title">
				<h1>code test</h1>
				<h2>scroll-transform</h2>
				<p>Welcome to <%= title %></p>
			</div>

			<div class="flex-box">
				<div class="bg-monitor"></div>
			</div>
		</article>
	</section>

	<section class="section-02">
		<article>
			<h2>section 02</h2>
		</article>
	</section>
</div>
</body>

<script>
	$(function scrollTransform() {
		$(window).scroll(function () {
			const windowSize = window.pageYOffset;
			const sectionSize = $('.section-02').offset().top;

			const value = (windowSize / 100) * 2 + 1;
			const opacityValue = (windowSize / sectionSize) * -1.2 + 1;
			const bgOpacityValue = (windowSize / sectionSize) * -12 + 1;

			console.log(windowSize)

			if ((windowSize) < (sectionSize)) {
				$('.bg-monitor').css('opacity', bgOpacityValue).css('transform', 'scale(' + value + ')');
				$('.img-wrap').css('opacity', opacityValue);
				$('.flex-box').css('overflow-x', 'clip');
			} else {
				$('.flex-box').css('overflow-x', 'hidden');
			}
		});

		$(function () {
			const $window = $(window);    //Window object
			const scrollTime = 3;     //Scroll time
			const scrollDistance = 170;   //Distance. Use smaller value for shorter scroll and greater value for longer scroll

			$window.on("mousewheel DOMMouseScroll", function (event) {
				// event.preventDefault();

				const delta = event.originalEvent.wheelDelta / 120 || -event.originalEvent.detail / 3;
				const scrollTop = $window.scrollTop();
				const finalScroll = scrollTop - parseInt(delta * scrollDistance);

				TweenMax.to($window, scrollTime, {
					scrollTo: {y: finalScroll, autoKill: true},
					ease: Power1.easeOut, //For more easing functions see https://api.greensock.com/js/com/greensock/easing/package-detail.html
					autoKill: true,
					overwrite: 5
				});
			});
		});
	});
</script>
</html>