<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport"
	      content="user-scalable=yes, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width">
	<meta name="author" content="TSK">
	<meta name="description" content="template guide 문">
	<meta name="keywords" content="코드테스트, code test, template, guide">
	<meta property="og:type" content="website">
	<meta property="og:title" content="<%= title %>">
	<meta property="og:description" content="code test를 위한 환경구성">
	<meta property="og:image" content="https://frontstory.herokuapp.com/images/temp/logo.png">
	<meta property="og:image:width" content="200"/>
	<meta property="og:image:height" content="200"/>
	<meta property="og:url" content="https://frontstory.herokuapp.com/template">

	<title><%= title %></title>
	<link rel="canonical" href="https://frontstory.herokuapp.com/template">
	<link rel="stylesheet" href="/css/reset.css" media="screen, print">
	<link rel="stylesheet" href="/css/layout.css" media="screen, print">
	<link rel="stylesheet" href="/css/template.css" media="screen, print">

	<script src="/js/vendor/jquery-3.2.1.min.js"></script>

	<!-- fontawesome  -->
	<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
	      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>

	<!-- vendor jquery-modal -->
	<link rel="stylesheet" href="/css/vendor/jquery.modal.css"/>
	<script src="/js/vendor-cust/jquery.modal.js"></script>

	<!-- vendor jquery-ui -->
	<link rel="stylesheet" href="/css/vendor/jquery-ui.min.css"/>
	<script src="/js/vendor/jquery-ui.min.js"></script>

	<!-- vendor bx-slider -->
	<link rel="stylesheet" href="/css/vendor-cust/jquery.bxslider.css" media="screen, print">
	<script src="/js/vendor/jquery.bxslider.min.js"></script>

	<!-- vendor ellipsis -->
	<script src="/js/vendor/jquery.dotdotdot.js"></script>

	<!-- vendor highlightjs -->
	<!--	<link rel="stylesheet" href="/css/vendor/railscasts.css">-->
	<!--	<script src="/js/vendor/highlight.pack.js"></script>-->

	<!-- vendor jquery-scrollbar -->
	<link rel="stylesheet" href="/css/vendor/jquery.mCustomScrollbar.min.css" media="screen, print">
	<script src="/js/vendor/jquery.mCustomScrollbar.concat.min.js"></script>

	<!-- vendor onepage -->
	<!--	<script src="/js/vendor-cust/one-page.js"></script>-->

	<script>
		// $(function () {
		// 	hljs.configure({ tabReplace: '    ' });
		// 	hljs.initHighlightingOnLoad();
		// });

		$(function () {
			$('.scroll-top').bind('click', function () {
				$('html, body').animate({scrollTop: '0'}, 680);
			});
		});

		$(function () {
			// 좌측메뉴 숨김/펼침
			$('#asideToggle').click(function () {
				$(this).children().toggleClass('fa-toggle-on');
				$('body').toggleClass('main-expanded');
			});
		});

		// 메인 롤링 Bxslider
		$(function () {
			$('.b2b-wrap .cut-down-slider').bxSlider({
				mode: 'horizontal',
				pager: false,
				controls: true,
				infiniteLoop: false,
				hideControlOnEnd: true,
				touchEnabled: false,
				speed: 300,
				minSlides: 3,
				maxSlides: 3,
				slideMargin: 21,
				slideWidth: 296,
				moveSlides: 1
			});

			// 슬라이더 갯수가 3개 이하면 컨트롤러 숨김처리
			if ($('.b2b-wrap .cut-down-slider-cont').length < 4) {
				$('.b2b-wrap .bx-controls.bx-has-controls-direction').css('display', 'none');
			}
		});

		// 말줄임
		$(function () {
			$('.ele-sample-01').dotdotdot({
				height: 26,
				fallbackToLetter: true,
				watch: true,
			});
			$('.ele-sample-02').dotdotdot({
				height: 52,
				fallbackToLetter: true,
				watch: true,
			});
			$('.ele-sample-03').dotdotdot({
				height: 78,
				fallbackToLetter: true,
				watch: true,
			});
		});

		// 메뉴 클릭시 scroll 이동
		$(function () {
			$('.menu-depth-01 li').bind('click', function () {
				const scrollPosition = $($(this).attr('data-target')).offset().top;

				$(this).addClass('active').siblings().removeClass('active');
				$('html, body').animate({
					scrollTop: scrollPosition
				}, 100);
			});
		});

		// scroll시 메뉴 활성화
		$(window).on('scroll', function () {
			const pos = $(window).scrollTop();
			const pos2 = pos + 150;
			const scrollBottom = pos + $(window).height();

			// Link Highlighting
			if (pos2 > $('#section-one').offset().top) {
				highlightLink('#section-one');
			}
			if (pos2 > $('#section-two').offset().top) {
				highlightLink('#section-two');
			}
			if (pos2 > $('#section-three').offset().top) {
				highlightLink('#section-three');
			}
			if (pos2 > $('#section-four').offset().top) {
				highlightLink('#section-four');
			}
			if (pos2 > $('#section-five').offset().top) {
				highlightLink('#section-five');
			}
			if (pos2 > $('#section-six').offset().top) {
				highlightLink('#section-six');
			}
			if (pos2 > $('#section-seven').offset().top) {
				highlightLink('#section-seven');
			}
			if (pos2 > $('#section-eight').offset().top) {
				highlightLink('#section-eight');
			}
			if (pos2 > $('#section-nine').offset().top) {
				highlightLink('#section-nine');
			}
			if (pos2 > $('#section-ten').offset().top) {
				highlightLink('#section-ten');
			}
			if (pos2 > $('#section-eleven').offset().top) {
				highlightLink('#section-eleven');
			}
			if (pos2 > $('#section-twelve').offset().top) {
				highlightLink('#section-twelve');
			}
			if (pos2 > $('#section-thirteen').offset().top ||
					pos + $(window).height() === $(document).height()) {
				highlightLink('#section-thirteen');
			}

		});

		function highlightLink(anchor) {
			$('.menu-depth-01 li').removeClass('active');
			$('.menu-depth-01').find('[data-target="' + anchor + '"]').addClass('active');
		}
	</script>

	<script src="/js/common.js"></script>
</head>

<body>
<div id="skipNav">
	<a href="#mainWrap">본문 바로가기</a>
	<a href="#sectionMenu">주메뉴 바로가기</a>
</div>

<header>
	<div class="bo-logo">
		<div class="circle-logo">
			<!--			<img src="../images/temp/logo.png" alt="템플릿 로고">-->
		</div>
	</div>

	<div class="header-wrap">
		<div class="btn-toggle-aside">
			<a href="javascript:void(0)" id="asideToggle">
				<span class="hidden">좌측메뉴 숨김/펼침</span>
				<i class="fas fa-toggle-off fa-toggle-on"></i>
			</a>
		</div>

		<div class="breadcrumbs">
			<ul>
				<li><a href="/" title="메인으로 바로가기">Home</a></li>
				<li>템플릿 가이드</li>
			</ul>
		</div>

		<div class="my-profile">
			<div class="circle-profile">
				<img src="../images/temp/logo.png" alt="템플릿 로고">
			</div>
		</div>
	</div>
</header>

<aside>
	<div id="sectionMenu">
		<ul class="menu-depth-01">
			<!-- 해당 section title값을 읽어와 메뉴 구성 (one-page.js)-->
			<li data-target="#section-one">
				<a href="javascript:void(0);">Accessibility</a>
			</li>
			<li data-target="#section-two">
				<a href="javascript:void(0);">Layout</a>
			</li>
			<li data-target="#section-three">
				<a href="javascript:void(0);">Table</a>
			</li>
			<li data-target="#section-four">
				<a href="javascript:void(0);">Form</a>
			</li>
			<li data-target="#section-five">
				<a href="javascript:void(0);">Tooltip</a>
			</li>
			<li data-target="#section-six">
				<a href="javascript:void(0);">Modal</a>
			</li>
			<li data-target="#section-seven">
				<a href="javascript:void(0);">Custom Scroll</a>
			</li>
			<li data-target="#section-eight">
				<a href="javascript:void(0);">Text Ellipsis</a>
			</li>
			<li data-target="#section-nine">
				<a href="javascript:void(0);">Slider</a>
			</li>
			<li data-target="#section-ten">
				<a href="javascript:void(0);">Pagination</a>
			</li>
			<li data-target="#section-eleven">
				<a href="javascript:void(0);">Button</a>
			</li>
			<li data-target="#section-twelve">
				<a href="javascript:void(0);">Tab Menu</a>
			</li>
			<li data-target="#section-thirteen">
				<a href="javascript:void(0);">폴더 정보</a>
			</li>
		</ul>
	</div>

	<div class="">

	</div>
</aside>

<main id="mainWrap" class="main-color">
	<div class="container-section">
		<h1 class="main-title">Web 퍼블리싱 템플릿 가이드</h1>
		<section id="section-one" class="section scroll-item" title="Accessibility">
			<h2>Accessibility</h2>
			<article>
				<h3>준수사항</h3>
				<ul class="article-note">
					<li>- 작업후 <strong>OpenWax</strong> 검사(기준 100점)</li>
					<li>- <strong>W3C Validator</strong>을 오류없이 통과</li>
					<li>- <strong>tab</strong>키를 이용한 키보드 탐색 시 화면 전체 내용을 탐색하는데 무리없는 수준</li>
					<li>- 기본적인 화면 구성은 <strong>IE10 이상</strong></li>
					<li>- Chrome (currnte-1) or Chrome</li>
					<li>
						<a href="https://www.koreahtml5.kr/front/stats/browser/browserUseStats.do" class="btn-link" target="_blank">-
							https://www.koreahtml5.kr/front/stats/browser/browserUseStats.do</a> (웹
						브라우저, 운영체제 이용률 참조)
					</li>
				</ul>
			</article>
		</section>

		<section id="section-two" class="section scroll-item" title="Layout">
			<h2>Layout</h2>
			<article>
				<h3>주석화면 가이드</h3>
				<ul class="article-desc">
					<li>동일 페이지 분기 처리 등 화면주석이 필요할때 <code>.remark-guide</code>를 사용하며 <code>data-title=""</code>에 화면설명을
						달아준다
					</li>
				</ul>

				<div class="example">
					<div class="remark-guide" data-title="ex) 휴면회원 접속시 기본정보 화면">
						분기내용 작성
					</div>
				</div>
			</article>
		</section>

		<section id="section-three" class="section scroll-item" title="Table">
			<h2>Table</h2>
			<article>
				<h3>준수사항</h3>
				<ul class="article-desc">
					<li>
						<code>table</code> 에 <code>caption</code> 이 적절하게 선언되었는가? (표의 제목은 <code>caption</code> 으로 반드시
						제공하며,
						<strong>summary는 필요에 따라 선택적으로 제공</strong>)
					</li>
					<li>
						<code>thead</code> <code>tbody</code> <code>tfoot</code>으로 그룹핑 되어 있는가? (<code>th</code> 로 그룹핑
						안될경우
						<code>thead</code> 생략가능, <code>tbody</code> 만 있을 경우 <code>tbody</code> 생략 가능)
					</li>
					<li>
						표의 머릿글은 <code>th</code> 로 마크업 했으며 <code>scope</code> 속성을 제공하는가?
					</li>
				</ul>

				<h3>col table</h3>
				<ul class="article-desc">
					<li>
						<code>.table-container</code>로 테이블을 감싸준다.
						<code>.table-col</code> 클래스를 사용한다.
					</li>
				</ul>

				<form>
					<fieldset>
						<legend>리스트형 테이블</legend>

						<div class="list-total-num-wrap">
							<span class="list-add-left total-num">전체 글<b>431</b></span>

							<div class="list-add-right">
								<div class="select-box select-size-s" style="width: 170px;">
									<label for="select01" class="hidden">상품분류</label>
									<select id="select01" class="select-box-s">
										<option value="">상품분류</option>
									</select>
									<span class="select-box-current">
											<span class="inner">상품분류</span>
										</span>
									<ul class="select-box-list">
										<li>상품분류</li>
									</ul>
								</div>
							</div>
						</div>

						<div class="table-container">
							<table class="table-col table-td-16 table-center">
								<caption>담은상품 목록</caption>
								<colgroup>
									<col style="width: 5%">
									<col style="width: 8%">
									<col style="width: auto">
									<col style="width: 13%">
									<col style="width: 13%">
								</colgroup>
								<thead>
								<tr>
									<th scope="col" colspan="2" class="al-left pl10">
										<input type="checkbox" id="check01">
										<label for="check01" class="">전체선택</label>
									</th>
									<th scope="col">상품/서비스 명</th>
									<th scope="col">신청</th>
									<th scope="col">상품삭제</th>
								</tr>
								</thead>
								<tbody>
								<tr class="fixed">
									<td>
										<input type="checkbox" id="check02">
										<label for="check02" class="label-only">좌측 정렬</label>
									</td>
									<td colspan="2" class="td-pl0">
										좌측 정렬
									</td>
									<td class="al-center">
										<a href="javascript:void(0)" class="btn btn-board-default">바로신청</a>
									</td>
									<td class="al-center">
										<a href="javascript:void(0)" class="btn btn-board-default">삭제하기</a>
									</td>
								</tr>
								<tr>
									<td>
										<input type="checkbox" id="check06">
										<label for="check06" class="label-only">가운데 정렬</label>
									</td>
									<td colspan="2" class="td-pl0 al-center">
										가운데 정렬
									</td>
									<td class="al-center">
										<a href="javascript:void(0)" class="btn btn-board-default">바로신청</a>
									</td>
									<td class="al-center">
										<a href="javascript:void(0)" class="btn btn-board-default">삭제하기</a>
									</td>
								</tr>
								<tr class="fixed">
									<td>
										<input type="checkbox" id="check03">
										<label for="check03" class="label-only">우측 정렬</label>
									</td>
									<td colspan="2" class="td-pl0 al-right">
										우측 정렬
									</td>
									<td class="al-center">
										<a href="javascript:void(0)" class="btn btn-board-default">바로신청</a>
									</td>
									<td class="al-center">
										<a href="javascript:void(0)" class="btn btn-board-default">삭제하기</a>
									</td>
								</tr>
								<tr>
									<td>
										<input type="checkbox" id="check04">
										<label for="check04" class="label-only">말줄임 test</label>
									</td>
									<td colspan="2" class="td-pl0 ellipsis">
										말줄임 test / 말줄임 test / 말줄임 test / 말줄임 test / 말줄임 test / 말줄임 test / 말줄임 test / 말줄임 test / 말줄임 test /
										말줄임 test / 말줄임 test / 말줄임 test / 말줄임 test /
									</td>
									<td class="al-center">
										<a href="javascript:void(0)" class="btn btn-board-default disabled">바로신청</a>
									</td>
									<td class="al-center">
										<a href="javascript:void(0)" class="btn btn-board-default">삭제하기</a>
									</td>
								</tr>
								<tr class="reply">
									<td></td>
									<td colspan="2"><a href="" class="reply-link">말줄임은 어떻게 사용하나요?</a></td>
									<td class="al-center"><span class="application-status">답변완료</span></td>
									<td class="al-center date">2020.10.15</td>
								</tr>
								<tr class="complete-use">
									<td>
										<input type="checkbox" id="check05">
										<label for="check05" class="label-only">웹 / 모바일 홈페이지</label>
									</td>
									<td colspan="2" class="td-pl0">
										<a href="javascript:void(0)">웹 / 모바일 홈페이지</a>
									</td>
									<td class="al-center">
										구매
									</td>
									<td class="al-center">
										사용완료
									</td>
								</tr>
								<!-- TODO: 담긴 상품 없을때 -->
								<tr>
									<td colspan="5" class="result-no">게시글 내역이 없습니다.</td>
								</tr>
								</tbody>
							</table>
						</div>

						<div class="btn-group mt20">
							<a href="javascript:void(0)" class="btn btn-board-default" title="목록가기"><i class="list"></i>목록가기</a>
						</div>

						<div class="btn-group-pop splits-02 mt90">
							<a href="javascript:void(0)" class="btn btn-black">선택 항목 신청하기</a>
							<a href="javascript:void(0)" class="btn btn-black">전체 신청하기</a>
						</div>
					</fieldset>
				</form>
			</article>

			<article>
				<h3>static table</h3>
				<ul class="article-desc">
					<li>
						<code>.table-container-static</code>로 테이블을 감싸주고
						클래스 없이<code>table</code> 태그를 사용한다.
					</li>
				</ul>

				<div class="table-container-static mt10">
					<table>
						<caption>자금정책 정보</caption>
						<colgroup>
							<col style="width: 130px">
							<col style="width: auto">
							<col style="width: 120px">
							<col style="width: 90px">
							<col style="width: 176px">
						</colgroup>
						<thead>
						<tr>
							<th scope="col">지원정책</th>
							<th scope="col">지원대상</th>
							<th scope="col">대출 한도</th>
							<th scope="col">대출 기간</th>
							<th scope="col">금리</th>
						</tr>
						</thead>
						<tbody>
						<tr>
							<td>일반경영안정자금<br> 창업초기자금<br> 사업전환</td>
							<td class="al-left">경영애로를 겪고 있는 소상공인</td>
							<td>
								<span class="font-roboto">7</span>천만원 이내<br>
								<small>(장애인자금<br> <span class="font-roboto">1</span>억원 이내)</small>
							</td>
							<td><span class="font-roboto">5</span>년</td>
							<td>
								(변동) 정책자금 기준<br>
								금리(<span class="font-roboto">1/4</span>분기 <span class="font-roboto">1.67%</span>)<br>
								+ <span class="font-roboto">0.2~0.6%</span>
							</td>
						</tr>
						<tr>
							<td>긴급경영<br> 안정자금</td>
							<td class="al-left">재해재난으로 지자체에서<br> “재해확인증”을 발급받은 소상공인</td>
							<td><span class="font-roboto">7</span>천만원 이내</td>
							<td><span class="font-roboto">5</span>년</td>
							<td>고정금리 <span class="font-roboto">2%</span></td>
						</tr>
						<tr>
							<td>특별경영<br> 안정자금</td>
							<td class="al-left">고용위기지역, 조선사소재지역,<br> 산업위기대응특별지역 소재<br> 소상공인</td>
							<td><span class="font-roboto">7</span>천만원 이내</td>
							<td><span class="font-roboto">5</span>년</td>
							<td>고정금리 <span class="font-roboto">2%</span></td>
						</tr>
						<tr>
							<td>청년고용<br> 특별자금</td>
							<td class="al-left">청년소상공인 또는 청년 <span class="font-roboto">1</span>인 이상<br> 고용한 업체</td>
							<td>업체당<br> <span class="font-roboto">1</span>억원 이내</td>
							<td><span class="font-roboto">5</span>년</td>
							<td>
								(변동) 정책자금 기준<br>
								금리(<span class="font-roboto">1/4</span>분기 <span class="font-roboto">1.67%</span>)<br>
								+ <span class="font-roboto">0.0~0.4%</span>p
							</td>
						</tr>
						</tbody>
					</table>
				</div>
			</article>

			<article>
				<h3>row table</h3>
				<ul class="article-desc">
					<li>
						<code>.table-container</code>로 테이블을 감싸주고
						<code>.table-row</code> 클래스를 사용한다.
					</li>
					<li>
						필수 입력요소는 <code>.essential-disc</code>를 사용한다.
					</li>
					<li>테이블 위, 아래 텍스트박스 <code>.table-desc-box</code>사용</li>
				</ul>

				<form>
					<fieldset>
						<legend>회원목록 검색</legend>
						<div class="list-title-wrap mt20">
							<span class="list-add-left list-title-h3">타이틀</span>
							<span class="list-add-right list-title-desc">상품을 신청하실 매장 <span>정보를 정확히 입력</span>해주세요.</span>
						</div>

						<div class="table-container">
							<table class="table-row">
								<caption>세미나 신청 정보</caption>
								<colgroup>
									<col style="width: 160px">
									<col style="width: auto">
								</colgroup>
								<tbody>
								<tr>
									<th scope="row">신청자 명 <span class="essential-disc">필수 입력</span></th>
									<td>
										<div class="input-label-group size-m">
											<label for="input01" class="hidden">신청자 명 입력</label>
											<input type="text" id="input01" class="input-m" style="width: 250px;"
											       placeholder="신청자 명을 입력하세요.">
										</div>
									</td>
								</tr>
								<tr>
									<th scope="row">휴대폰번호 <span class="essential-disc">필수 입력</span></th>
									<td>
										<div class="input-label-group size-m">
											<label for="input02" class="hidden">휴대폰번호 입력</label>
											<input type="text" id="input02" class="input-m" style="width: 250px;"
											       placeholder="‘-’ 제외 숫자만 입력가능">
										</div>
									</td>
								</tr>
								<tr>
									<th scope="row">이메일 <span class="essential-disc">필수 입력</span></th>
									<td>
										<div class="input-label-group input-full">
											<label for="input03" class="hidden">이메일 입력</label>
											<input type="text" id="input03" class="input-m"
											       placeholder="정확한 이메일 주소를 입력하세요.">
										</div>

										<p class="guide-text-13 mt10">
											<span class="caution-disc">*</span>매장규모, 업종, 문의사항 등을 남겨주시면 보다 원활한 상담을 받으실 수
											있습니다.
										</p>
									</td>
								</tr>
								<tr>
									<th scope="row">기타 항목1 <span class="essential-disc">필수 입력</span></th>
									<td>
										<div class="input-label-group input-full">
											<label for="input04" class="hidden">기타 항목1 입력</label>
											<input type="text" id="input04" class="input-m" placeholder="내용을 입력하세요.">
										</div>
									</td>
								</tr>
								<tr>
									<th scope="row">기타 항목2 <span class="essential-disc">필수 입력</span></th>
									<td>
										<div class="input-label-group input-full">
											<label for="input05" class="hidden">기타 항목2 입력</label>
											<input type="text" id="input05" class="input-m" placeholder="내용을 입력하세요.">
										</div>
									</td>
								</tr>
								</tbody>
							</table>
						</div>
					</fieldset>
				</form>
			</article>
		</section>

		<section id="section-four" class="section scroll-item" title="Form">
			<h2>Form</h2>
			<article>
				<h3>Input</h3>
				<ul class="article-desc">
					<li>라벨은 <code>.hidden</code>으로 숨김 처리, 순서는 <code>label + input</code></li>
				</ul>

				<div class="example">
					<div class="wrap-login">
						<div class="login-container">
							<div class="login-form">
								<div class="input-group-login carrier-name-inquiry">
									<div class="input-label-group">
										<label for="userId" class="label-holder">아이디</label>
										<input type="text" id="userId" placeholder="size-lg" required="">

										<span class="input-side">
												<a href="javascript:void(0)" class="btn-input-del" title="텍스트 지우기">X</a>
											</span>
									</div>

									<div class="input-label-group">
										<label for="userPw" class="label-holder">비밀번호</label>
										<!-- TODO: 정보가 틀릴때 .input-error 추가 -->
										<input type="password" id="userPw" class="input-pass" placeholder="비밀번호"
										       required="">

										<span class="input-side">
												<a href="javascript:void(0)" class="btn-input-del" title="텍스트 지우기">X</a>

											<!-- TODO: 마스킹 버튼 클릭시 1 .on 삭제 2 input type을 text/password로 toggle-->
												<a href="javascript:void(0)" class="btn-mask on" title="비밀번호 마스킹">V</a>
											</span>

										<!-- TODO: 아이디를 입력 안했을때 .desc-error 노출 -->
										<span class="desc-error">아이디를 입력해 주세요.</span>

										<!-- TODO: 비밀번호 입력 안했을때 .desc-error 노출 -->
										<span class="desc-error">비밀번호를 입력해 주세요.</span>
									</div>

									<div class="input-label-group input-button-group">
										<label for="userMobile" class="label-holder">휴대폰번호 '-'없이 숫자만 입력</label>
										<input type="text" id="userMobile" placeholder="휴대폰번호 '-'없이 숫자만 입력" required="">
										<a href="" class="btn-input-add">인증요청</a>

										<!-- TODO: 휴대폰번호를 입력 안했을때/타입이 틀릴때 .desc-error 노출 -->
										<span class="desc-error hidden">휴대폰번호를 입력해 주세요.</span>
										<span class="desc-error availability">숫자만 입력해 주세요.</span>
										<span class="desc-error availability">SMS로 인증번호가 발송되었습니다. 인증번호를 입력해 주세요.</span>
									</div>

									<div class="input-label-group">
										<label for="certification02" class="label-holder label-off">인증번호 입력</label>
										<input type="text" id="certification02" placeholder="인증번호 입력" class="certification-number
" required="">

										<span class="input-side">
												<span class="attention-msg text-eng">남은 시간 <span>10:00</span></span>
											</span>

										<!-- TODO: 대기시간 만료시/번호가 틀릴때 .desc-error 노출 -->
										<span class="desc-error">인증번호 입력시간이 만료되었습니다. 인증요청을 다시 해주세요.</span>
										<span class="desc-error availability">인증번호가 일치하지 않습니다. 다시 입력해 주세요.</span>
									</div>

									<div class="input-label-group">
										<label for="storeName" class="title-label">label 타이틀 사용</label>
										<input type="text" id="storeName" class="" readonly="" placeholder="readonly">
									</div>

									<div class="input-label-group">
										<label for="storeName03" class="hidden">label 타이틀 사용</label>
										<input type="text" id="storeName03" class="" disabled="" placeholder="disabled">
									</div>

									<div class="input-label-group size-m">
										<label for="storeName02" class="hidden">매장명입력</label>
										<input type="text" id="storeName02" class="input-m" placeholder="size-m"
										       style="width: 295px;">
									</div>

									<div class="input-label-group inline-group mt10">
										<label for="postSearch" class="label-holder"></label>
										<input type="text" class="post-search-input" id="postSearch"
										       placeholder="size-s">

										<span class="input-side small-side">
												<a href="" class="btn-search-icon" title="검색하기"></a>
											</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</article>

			<article>
				<h3>SelectBox + Scroll</h3>
				<div class="example">
					<div class="wrap-login">
						<div class="login-container">
							<div class="login-form">
								<div class="input-label-group">
									<div class="select-box select-size-lg input-full">
										<label for="select00" class="hidden">disabled</label>
										<select id="select00" class="select-box-lg select-temp" disabled>
											<option value="">소속회사 선택 1</option>
											<option value="">소속회사 선택 2</option>
											<option value="">소속회사 선택 3</option>
											<option value="">소속회사 선택 4</option>
										</select>
										<span class="select-box-current">
												<span class="inner">disabled</span>
											</span>
										<ul class="select-box-list">
											<li>소속회사 선택 1</li>
											<li>소속회사 선택 2</li>
											<li>소속회사 선택 3</li>
											<li>소속회사 선택 4</li>
										</ul>
									</div>
									<!-- TODO: 선택하지 않았을때 .desc-error 노출 -->
									<span class="desc-error hidden">소속회사를 선택해 주세요.</span>
								</div>

								<div class="input-label-group">
									<div class="select-box select-size-lg input-full">
										<label for="select02" class="hidden">소속회사 선택</label>
										<select id="select02" class="select-box-lg select-temp" required>
											<option value="">소속회사 선택 1</option>
											<option value="">소속회사 선택 2</option>
											<option value="">소속회사 선택 3</option>
											<option value="">소속회사 선택 4</option>
										</select>
										<span class="select-box-current">
												<span class="inner">소속회사 선택</span>
											</span>
										<ul class="select-box-list">
											<li>소속회사 선택 1</li>
											<li>소속회사 선택 2</li>
											<li>소속회사 선택 3</li>
											<li>소속회사 선택 4</li>
										</ul>
									</div>
									<!-- TODO: 선택하지 않았을때 .desc-error 노출 -->
									<span class="desc-error hidden">소속회사를 선택해 주세요.</span>
								</div>

								<div class="input-label-group" style="width: 300px;">
									<div class="select-box select-size-m input-full">
										<label for="select03" class="hidden">소속회사 선택</label>
										<select id="select03" class="select-box-m select-temp" required>
											<option value="">소속회사 선택 1</option>
											<option value="">소속회사 선택 2</option>
											<option value="">소속회사 선택 3</option>
											<option value="">소속회사 선택 4</option>
										</select>
										<span class="select-box-current">
												<span class="inner">소속회사 선택</span>
											</span>
										<ul class="select-box-list">
											<li>소속회사 선택 1</li>
											<li>소속회사 선택 2</li>
											<li>소속회사 선택 3</li>
											<li>소속회사 선택 4</li>
										</ul>
									</div>
									<!-- TODO: 선택하지 않았을때 .desc-error 노출 -->
									<span class="desc-error hidden">소속회사를 선택해 주세요.</span>
								</div>

								<div class="input-label-group" style="width: 200px;">
									<div class="select-box select-size-s input-full">
										<label for="select04" class="hidden">소속회사 선택</label>
										<select id="select04" class="select-box-s select-temp" required>
											<option value="">소속회사 선택 1</option>
											<option value="">소속회사 선택 2</option>
											<option value="">소속회사 선택 3</option>
											<option value="">소속회사 선택 4</option>
											<option value="">소속회사 선택 5</option>
											<option value="">소속회사 선택 6</option>
											<option value="">소속회사 선택 7</option>
											<option value="">소속회사 선택 8</option>
										</select>
										<span class="select-box-current">
												<span class="inner">소속회사 선택</span>
											</span>
										<ul class="select-box-list">
											<li>소속회사 선택 1</li>
											<li>소속회사 선택 2</li>
											<li>소속회사 선택 3</li>
											<li>소속회사 선택 4</li>
											<li>소속회사 선택 5</li>
											<li>소속회사 선택 6</li>
											<li>소속회사 선택 7</li>
											<li>소속회사 선택 8</li>
										</ul>
									</div>
									<!-- TODO: 선택하지 않았을때 .desc-error 노출 -->
									<span class="desc-error hidden">소속회사를 선택해 주세요.</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</article>

			<article>
				<h3>datepicker</h3>
				<ul class="article-desc">
					<li>개발파트에서 선정 예정</li>
					<li><code>input + label</code></li>
				</ul>

				<div class="example">
					<div class="input-label-group input-button-group size-m" style="width: 295px;">
						<label for="hopeDay03" class="label-holder">달력보기</label>
						<input type="text" id="hopeDay03" class="input-m" style="width: 232px;">
						<a href="" class="btn-calendar-add"></a>
					</div>
					~
					<div class="input-label-group input-button-group size-m" style="width: 295px;">
						<label for="hopeDay02" class="label-holder">달력보기</label>
						<input type="text" id="hopeDay02" class="input-m" style="width: 232px;">
						<a href="" class="btn-calendar-add"></a>
					</div>
				</div>
			</article>

			<article>
				<h3>Checkbox</h3>
				<ul class="article-desc">
					<li><code>input id</code>와 <code>label for</code>값을 동일하게 입력</li>
					<li><code>label</code>없이 단독 사용시 <code>.single</code> 클래스 추가</li>
					<li>기본 mr20이 적용되어 있고 마지막 라벨은 mr0</li>
				</ul>

				<div class="example">
					<div class="radio-label-group">
						<input type="checkbox" name="radioGroup03" id="radioGroup08" checked="">
						<label for="radioGroup08" class="">미신청</label>

						<input type="checkbox" name="radioGroup03" id="radioGroup09">
						<label for="radioGroup09" class="">T&캡스</label>

						<input type="checkbox" name="radioGroup03" id="radioGroup10">
						<label for="radioGroup10" class="">B&캡스</label>

						<input type="checkbox" name="radioGroup03" id="radioGroup20" checked="">
						<label for="radioGroup20" class="">미신청</label>
					</div>
				</div>
			</article>

			<article>
				<h3>radio</h3>
				<ul class="article-desc">
					<li><code>input id</code>와 <code>label for</code>값을 동일하게 입력</li>
					<li><code>label</code>없이 단독 사용시 <code>.single</code> 클래스 추가</li>
					<li>기본 mr40이 적용되어 있고 마지막 라벨은 mr0</li>
				</ul>

				<div class="example">
					<div class="radio-label-group">
						<input type="radio" name="registrationStatus" id="registrationStatus01">
						<label for="registrationStatus01" class="">전체</label>

						<input type="radio" name="registrationStatus" id="registrationStatus02">
						<label for="registrationStatus02" class="">사용중</label>

						<input type="radio" name="registrationStatus" id="registrationStatus03">
						<label for="registrationStatus03" class="">미사용</label>

						<input type="radio" name="registrationStatus" id="registrationStatus04">
						<label for="registrationStatus04" class="">사용완료</label>
					</div>
				</div>
			</article>

			<article>
				<h3>textarea</h3>
				<div class="example">
					<label for="contactAnswer" class="hidden">문의 답변</label>
					<textarea rows="5" id="contactAnswer"></textarea>

					<label for="etc02" class="hidden">반려 사유 입력</label>
					<textarea cols="30" rows="3" id="etc02" class="textarea-badge"></textarea>
					<span>(0/20)</span>
				</div>
			</article>

			<article>
				<h3>file</h3>

				<div class="input-label-group input-button-group size-m" style="width: 460px;">
					<label for="fileAdd" class="label-holder">첨부파일추가</label>
					<input type="text" id="fileAdd" class="input-m" placeholder="첨부파일추가" style="width: 360px;">
					<a href="" class="btn-input-add">찾기</a>
				</div>
			</article>
		</section>

		<section id="section-five" class="section scroll-item" title="Tooltip">
			<h2>Tooltip</h2>
			<article>
				<h3>Notice</h3>
				<ul class="article-desc">
					<li>툴팁 원 기준 우하단</li>
				</ul>

				<h3>Example</h3>

				<div class="example">
						<span class="tooltip" tabindex="0">!
							<span class="tooltip-text tooltip-bottom">선택하신 기간 동안 사이트에 로그인하지 않은 경우<br> 개인정보를 별도 분리 저장하게 됩니다.</span>
						</span>
				</div>
			</article>
		</section>

		<section id="section-six" class="section scroll-item" title="Modal">
			<h2>Modal</h2>
			<article>
				<ul class="article-note">
					<li>
						<a href="https://github.com/kylefox/jquery-modal#installation" title="" target="_blank"><i
								class="fas fa-link"></i> jQuery Modal Readme</a>
					</li>
					<li>
						<a href="https://jquerymodal.com" title="" target="_blank"><i class="fas fa-link"></i> jQuery
							Modal Demo</a>
					</li>
				</ul>

				<h3>Notice</h3>
				<ul class="article-desc">
					<li>ajax 로드, 다중 모달, callback 함수 지원</li>
					<li>모달 호출은 <code>href="#모달아이디"</code> <code>data-modal</code>을 사용한다.</li>
					<li>모달 닫기 버튼 <code>data-rel="modal:close"</code> 추가</li>
					<li><code>.modal-xs</code> 400px</li>
					<li><code>.modal-sm</code> 600px</li>
					<li><code>.modal-m</code> 800px</li>
					<li><code>.modal-lg</code> 1200px</li>
				</ul>

				<h3>Example</h3>

				<div class="example">
					<div id="csConsultation" class="modal">
						<div class="modal-content">
							<div class="modal-header">
								<h2 class="modal-title">모달 상세</h2>
							</div>

							<div class="modal-body">
								<div class="terms-content"></div>
							</div>
						</div>
					</div>
				</div>

				<!-- Link to open the modal -->
				<p><a href="#csConsultation" data-modal class="btn">Open Modal</a></p>

				<!-- lodaing-image -->
				<div class="loading-image" style="display:none;">
					<img src="/resources/images/common/Loading.gif" alt="잠시만 기다려주세요.">
					<span class="loading-guide-text">잠시만 기다려주세요.</span>
				</div>
			</article>
		</section>

		<section id="section-seven" class="section scroll-item" title="Custom Scroll">
			<h2>Custom Scroll</h2>

			<article>
				<ul class="article-note">
					<li>
						<a href="http://manos.malihu.gr/jquery-custom-content-scroller/" target="_blank"><i
								class="fas fa-link"></i> jQuery custom content scroller</a>
					</li>
				</ul>

				<h3>Notice</h3>
				<ul class="article-desc">
					<li>사용하고자 하는 box에 height와 overflow 설정<code>.custom-scroll</code> 클래스 추가</li>
				</ul>

				<div class="example">
					<div class="example-wrap custom-scroll">
						.custom-scroll 추가<br>
						.custom-scroll 추가<br>
						.custom-scroll 추가<br>
						.custom-scroll 추가<br>
						.custom-scroll 추가<br>
						.custom-scroll 추가<br>
						.custom-scroll 추가<br>
						.custom-scroll 추가<br>
						.custom-scroll 추가<br>
						.custom-scroll 추가<br>
					</div>
				</div>
			</article>
		</section>

		<section id="section-eight" class="section scroll-item" title="Text Ellipsis">
			<h2>Text Ellipsis</h2>

			<article>
				<ul class="article-note">
					<li>
						<a href="https://dotdotdot.frebsite.nl/" target="_blank"><i class="fas fa-link"></i> jquery
							dotdotdot</a>
					</li>
				</ul>

				<h3>Notice</h3>
				<ul class="article-desc">
					<li>1. 사용하고자 하는 class 설정</li>
					<li>2. script 호출</li>
					<li>3. 해당 class height 설정(1줄, 2줄, 3줄의 선택은 font-size와 line-height값을 고려하여 height값으로 조정)</li>
				</ul>

				<div class="example">
					<div class="example-ele">
						<ul>
							<li class="ele-sample-01">한줄 말줄임 한줄 말줄임 한줄 말줄임 한줄 말줄임 한줄 말줄임</li>
							<li class="ele-sample-02">두줄 말줄임 두줄 말줄임 두줄 말줄임 두줄 말줄임 두줄 말줄임</li>
							<li class="ele-sample-03">세줄 말줄임 세줄 말줄임 세줄 말줄임 세줄 말줄임 세줄 말줄임</li>
						</ul>
					</div>
				</div>
			</article>
		</section>

		<section id="section-nine" class="section scroll-item" title="Slider">
			<h2>Slider</h2>

			<article>
				<ul class="article-note">
					<li>
						<a href="https://bxslider.com/" target="_blank"><i class="fas fa-link"></i> jquery bxslider</a>
					</li>
				</ul>

				<div class="example">
					<div class="b2b-wrap">
						<!-- custom bx slider -->
						<div class="cut-down">
							<h2 class="section-title-main-02">bxslider</h2>

							<div class="cut-down-slider">
								<div class="cut-down-slider-cont">
									<a href="" style="background: #e5e5e5;">상품 배너 1</a>
								</div>
								<div class="cut-down-slider-cont">
									<a href="" style="background: #e5e5e5;">상품 배너 2</a>
								</div>
								<div class="cut-down-slider-cont">
									<a href="" style="background: #e5e5e5;">상품 배너 3</a>
								</div>
								<div class="cut-down-slider-cont">
									<a href="" style="background: #e5e5e5;">상품 배너 4</a>
								</div>
								<div class="cut-down-slider-cont">
									<a href="" style="background: #e5e5e5;">상품 배너 5</a>
								</div>
								<div class="cut-down-slider-cont">
									<a href="" style="background: #e5e5e5;">상품 배너 6</a>
								</div>
							</div>
						</div>
						<!--// custom bx slider -->
					</div>
				</div>
			</article>
		</section>

		<section id="section-ten" class="section scroll-item" title="Pagination">
			<h2>Pagination</h2>
			<article>
				<div class="example">
					<div class="wrap-pagination">
						<ul class="pagination">
							<li>
								<a href="#" class="paging-btn paging-btn-first">
									<span>처음으로 이동</span>
								</a>
							</li>
							<li>
								<a href="#" class="paging-btn paging-btn-prev">
									<span>이전으로 이동</span>
								</a>
							</li>
							<li class="active">
								<a href="#">1</a>
							</li>
							<li>
								<a href="#">2</a>
							</li>
							<li>
								<a href="#">3</a>
							</li>
							<li>
								<a href="#">4</a>
							</li>
							<li>
								<a href="#">5</a>
							</li>
							<li>
								<a href="#">6</a>
							</li>
							<li>
								<a href="#">7</a>
							</li>
							<li>
								<a href="#">8</a>
							</li>
							<li>
								<a href="#">9</a>
							</li>
							<li>
								<a href="#">10</a>
							</li>
							<li>
								<a href="#" class="paging-btn paging-btn-next">
									<span>다음으로 이동</span>
								</a>
							</li>
							<li>
								<a href="#" class="paging-btn paging-btn-last">
									<span>마지막으로 이동</span>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</article>
		</section>

		<section id="section-eleven" class="section scroll-item" title="Button">
			<h2>Button</h2>
			<article>
				<div class="example">
					<div class="wrap-login">
						<div class="login-container">
							<div class="btn-group-pop">
								<a href="javascript:void(0);" class="btn btn-black text-eng" title="T 아이디로 로그인"
								   id="tidLogin"
								   data-idx="14"><span>T</span> 아이디로 로그인</a>

								<a href="javascript:void(0);" class="btn btn-black btn-input disabled">비활성화</a>
								<a href="javascript:void(0);" class="btn btn-black btn-input">활성화</a>
							</div>

							<div class="btn-group-pop splits-02">
								<a href="" class="btn btn-primary" title="비밀번호 찾기">비밀번호 찾기</a>

								<a href="https://auth.skt-id.co.kr/auth/authorize.do" class="btn btn-black"
								   title="로그인 하기">로그인 하기</a>
							</div>
							<div class="btn-group-pop">
								<a href="" class="btn btn-agree-all" title="모두 동의">모두 동의</a>
							</div>
						</div>
					</div>
				</div>
			</article>
		</section>

		<section id="section-twelve" class="section scroll-item" title="Tab Menu">
			<h2>Tab Menu</h2>
			<article>
				<div class="example">
					<div class="wrap-tab conts-used">
						<div class="tab white justify">
							<ul>
								<li data-id="con1" class="on">전체</li>
								<li data-id="con2" class="">tab 1</li>
								<li data-id="con3">tab 2</li>
								<li data-id="con4">tab 3</li>
								<li data-id="con5">tab 4</li>
								<li data-id="con6">tab 5</li>
							</ul>
						</div>

						<div id="con1" class="wrap-section tab-conts fade on">
							전체
						</div>

						<div id="con2" class="wrap-section tab-conts fade" style="display: none;">
							tab 1
						</div>

						<div id="con3" class="wrap-section tab-conts fade" style="display: none;">
							tab 2
						</div>

						<div id="con4" class="wrap-section tab-conts fade" style="display: none;">
							tab 3
						</div>

						<div id="con5" class="wrap-section tab-conts fade" style="display: none;">
							tab 4
						</div>

						<div id="con6" class="wrap-section tab-conts fade" style="display: none;">
							tab 5
						</div>
					</div>
				</div>
			</article>
		</section>

		<section id="section-thirteen" class="section scroll-item" title="폴더 정보">
			<h2>폴더 정보</h2>
			<article>
				<h3><i class="far fa-folder-open"></i> css > <i class="far fa-folder-open"></i> vendor</h3>
				<ul class="article-note">
					<li>
						jquery.mCustomScrollbar.min.css : <a
							href="http://manos.malihu.gr/jquery-custom-content-scroller/" target="_blank"><i
							class="fas fa-link"></i>aside, select용 커스텀 스크롤바</a>
					</li>
					<li>
						jquery.modal.css : <a href="https://github.com/kylefox/jquery-modal#installation"
						                      target="_blank"><i
							class="fas fa-link"></i> modal 플러그인</a>
					</li>
				</ul>

				<h3><i class="far fa-folder-open"></i> css > <i class="far fa-folder-open"></i> vendor-cust</h3>
				<ul class="article-note">
					<li>
						jquery.bxslider : <a href="https://bxslider.com/" target="_blank"><i class="fas fa-link"></i>
						메인화면 롤링 슬라이드</a>
					</li>
				</ul>

				<h3><i class="far fa-folder-open"></i> css</h3>
				<ul class="article-note">
					<li>
						reset.css : 초기화 css
					</li>
					<li>
						layout.css : 공통 layout css
					</li>
					<li>
						template.css : 가이드화면용 css
					</li>
				</ul>

				<h3><i class="far fa-folder-open"></i> js > <i class="far fa-folder-open"></i> vendor</h3>
				<ul class="article-note">
					<li>
						jquery.bxslider.min.js : <a href="https://bxslider.com/" target="_blank"><i
							class="fas fa-link"></i> 메인화면 롤링 슬라이드</a>
					</li>
					<li>
						jquery.dotdotdot.js : <a href="https://dotdotdot.frebsite.nl/" target="_blank"><i
							class="fas fa-link"></i> 2줄 말줄임용</a>
					</li>
					<li>
						jquery.mCustomScrollbar.concat.min.js : <a
							href="http://manos.malihu.gr/jquery-custom-content-scroller/"
							target="_blank"><i class="fas fa-link"></i>aside용 커스텀 스크롤바</a>
					</li>
					<li>
						jquery-3.2.1.min.js : <a href="https://jquery.com/download/" target="_blank"><i
							class="fas fa-link"></i>
						제이쿼리 라이브러리</a>
					</li>
				</ul>

				<h3><i class="far fa-folder-open"></i> js > <i class="far fa-folder-open"></i> vendor-cust</h3>
				<ul class="article-note">
					<li>
						jquery.modal.js : <a href="https://github.com/kylefox/jquery-modal#installation"
						                     target="_blank"><i class="fas fa-link"></i> modal 플러그인</a>
					</li>
				</ul>

				<h3><i class="far fa-folder-open"></i> js</h3>
				<ul class="article-note">
					<li>
						common.js : 공통 스크립트
					</li>
				</ul>
			</article>
		</section>
	</div>
</main>

<footer>
	<div class="scroll-top">
		<a href="javascript:void(0)">TOP</a>
	</div>
</footer>
</body>
</html>