@charset "UTF-8";
/* 레디어스 값 */
/* 투명도 */
/* 폰트 사이즈 px > rem 변환 */
/* transition */
/* transform */
/* 그림자 */
/* 세로 가운데 정렬 */
/* 말줄임 */
/* position */
/* 백그라운드 설정 */
/* 미디어쿼리 분기점 설정 */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: 14px;
  font-size: 0.875rem;
  font-family: "Roboto", sans-serif;
  background: #fff;
}

#skipNav {
  position: relative;
  z-index: 999;
}
#skipNav a {
  position: absolute;
  top: -80px;
  left: 0;
  font-size: 15px;
  font-size: 0.9375rem;
  width: 193px;
  height: 80px;
  background: #444;
  text-align: center;
  line-height: 80px;
  color: #fff;
}
#skipNav a:focus,
#skipNav a:active {
  top: 0;
  left: 339px;
  -webkit-transition: top 0.1s ease-in;
  -moz-transition: top 0.1s ease-in;
  -ms-transition: top 0.1s ease-in;
  -o-transition: top 0.1s ease-in;
  transition: top 0.1s ease-in;
}

/*# sourceMappingURL=layout.css.map */
