@charset "UTF-8";
/* 레디어스 값 */
/* 투명도 */
/* 폰트 사이즈 px > rem 변환 */
/* transition */
/* transform */
/* 그림자 */
/* 세로 가운데 정렬 */
/* 말줄임 */
/* position */
/* 백그라운드 설정 */
/* 미디어쿼리 분기점 설정 */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: 14px;
  font-size: 0.875rem;
  font-family: "Roboto", sans-serif;
  background: #fff;
}

#skipNav {
  position: relative;
  z-index: 999;
}
#skipNav a {
  position: absolute;
  top: -80px;
  left: 0;
  font-size: 15px;
  font-size: 0.9375rem;
  width: 193px;
  height: 80px;
  background: #444;
  text-align: center;
  line-height: 80px;
  color: #fff;
}
#skipNav a:focus,
#skipNav a:active {
  top: 0;
  left: 339px;
  -webkit-transition: top 0.1s ease-in;
  -moz-transition: top 0.1s ease-in;
  -ms-transition: top 0.1s ease-in;
  -o-transition: top 0.1s ease-in;
  transition: top 0.1s ease-in;
}

.scroll-hidden {
  opacity: 0;
  filter: alpha(opacity=0);
}

.section-01 {
  position: relative;
}
.section-01 .img-wrap {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.section-01 .img-wrap .img-code {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("/images/scrollTransform/bg.jpg") no-repeat top/cover;
  transition: opacity 0.1s cubic-bezier(0, 0, 0.2, 1);
}
.section-01 .bg-wrap {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100vh;
}
.section-01 .bg-wrap .page-title {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 5;
  width: 100%;
  max-width: 1060px;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  transition: opacity 0.3s cubic-bezier(0, 0, 0.2, 1);
  color: #fff;
}
.section-01 .bg-wrap .page-title h1 {
  font-size: 55px;
  font-size: 3.4375rem;
  margin-bottom: 12px;
}
.section-01 .bg-wrap .page-title h2 {
  font-size: 32px;
  font-size: 2rem;
}
.section-01 .bg-wrap .page-title p {
  font-size: 18px;
  font-size: 1.125rem;
  margin-top: 8px;
}
.section-01 .bg-wrap .flex-box {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-01 .bg-wrap .bg-monitor {
  width: 100%;
  height: 100vh;
  background: url("/images/scrollTransform/scrollTransform.png") no-repeat center/cover;
  transition: opacity 0.1s cubic-bezier(0, 0, 0.2, 1);
  transform-origin: 80% 50%;
}
.section-01 .bg-wrap .bg-monitor:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: calc(50% - 78vh);
  height: 100%;
  background: #141922;
}
.section-01 .bg-wrap .bg-monitor:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: calc(50% - 78vh);
  height: 100%;
  background: #141922;
}
.section-01 .bg-wrap:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 120px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0), #fff 73.33%);
}

.section-02 {
  position: relative;
  width: 100%;
  height: 1000px;
  overflow: hidden;
}
.section-02 h2 {
  font-size: 30px;
  font-size: 1.875rem;
}

/*# sourceMappingURL=scrollTransform.css.map */
