@charset "UTF-8";
/* 레디어스 값 */
/* 투명도 */
/* 폰트 사이즈 px > rem 변환 */
/* transition */
/* transform */
/* 그림자 */
/* 세로 가운데 정렬 */
/* 말줄임 */
/* position */
/* 백그라운드 설정 */
/* 미디어쿼리 분기점 설정 */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: 14px;
  font-size: 0.875rem;
  font-family: "Roboto", sans-serif;
  background: #fff;
}

#skipNav {
  position: relative;
  z-index: 999;
}
#skipNav a {
  position: absolute;
  top: -80px;
  left: 0;
  font-size: 15px;
  font-size: 0.9375rem;
  width: 193px;
  height: 80px;
  background: #444;
  text-align: center;
  line-height: 80px;
  color: #fff;
}
#skipNav a:focus,
#skipNav a:active {
  top: 0;
  left: 339px;
  -webkit-transition: top 0.1s ease-in;
  -moz-transition: top 0.1s ease-in;
  -ms-transition: top 0.1s ease-in;
  -o-transition: top 0.1s ease-in;
  transition: top 0.1s ease-in;
}

/* template */
html, body {
  background: #fff;
}

body {
  font-size: 1em;
  font-family: "Noto Sans KR", "NotoSansKR", "mulgun gothic", Dotum, sans-serif;
}

/* common */
[type=checkbox],
[type=radio] {
  padding: 0;
  border: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

[hidden], template {
  display: none;
}

caption, legend {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 1px;
  font-size: 0px;
  font-size: 0rem;
  line-height: 0;
}

a:link, a:visited, a:hover, a:active, a:focus {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}

/* text */
.text-warning {
  color: #ea002c;
}

.color1 {
  color: #fa6e44 !important;
}

.color2 {
  color: #222 !important;
}

.color3 {
  color: #666 !important;
}

.text-eng span {
  font-family: "Roboto", sans-serif;
}

.text-danger span {
  color: #d22e2e;
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ellipsis.multiline {
  white-space: normal;
}

.roboto, .font-roboto {
  font-family: "Roboto", sans-serif;
}

.ele {
  overflow: hidden;
}

.nowrap {
  white-space: nowrap;
}

.weight300 {
  font-weight: 300;
}

.guide-text-13 {
  font-size: 13px;
  color: #666;
  font-weight: normal;
  line-height: 18px;
  letter-spacing: -0.5px;
}

.carrier-name-inquiry .title-label {
  display: block;
  height: 14px;
  margin-top: 40px;
  margin-bottom: 12px;
  color: #666;
  font-size: 14px;
}

/* margin */
.mt10 {
  margin-top: 10px !important;
}

.mt14 {
  margin-top: 14px !important;
}

.mt20 {
  margin-top: 20px !important;
}

.mt35 {
  margin-top: 35px !important;
}

.mt50 {
  margin-top: 50px !important;
}

.mt60 {
  margin-top: 60px !important;
}

.mt70 {
  margin-top: 70px !important;
}

.mt90 {
  margin-top: 90px !important;
}

.ml6 {
  margin-left: 6px !important;
}

.ml7 {
  margin-left: 7px !important;
}

.ml10 {
  margin-left: 10px !important;
}

.ml20 {
  margin-left: 20px !important;
}

.mr0 {
  margin-right: 0 !important;
}

.mr4 {
  margin-right: 4px !important;
}

.mr5 {
  margin-right: 5px !important;
}

.mr10 {
  margin-right: 10px !important;
}

.mr50 {
  margin-right: 50px !important;
}

.mb0 {
  margin-bottom: 0 !important;
}

.mb10 {
  margin-bottom: 10px !important;
}

.pr30 {
  padding-right: 30px !important;
}

.pb0 {
  padding-bottom: 0 !important;
}

.pl8 {
  padding-left: 8px !important;
}

.pl10 {
  padding-left: 10px !important;
}

.pl40 {
  padding-left: 40px !important;
}

/* 분기화면 가이드 */
.remark-guide {
  position: relative;
  border: 4px solid #fa6e44;
  padding: 50px 20px;
  margin: 50px -24px;
  background-color: #fff;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
}
.remark-guide:before {
  content: "" " " attr(data-title);
  position: absolute;
  top: 0;
  left: 0;
  -webkit-border-radius: 0 0 4px 0;
  -moz-border-radius: 0 0 4px 0;
  -ms-border-radius: 0 0 4px 0;
  -o-border-radius: 0 0 4px 0;
  border-radius: 0 0 4px 0;
  padding: 2px 10px 6px;
  background-color: #fa6e44;
  font-family: "Font Awesome 5 Pro";
  font-weight: 900;
  color: #fff;
  font-size: 12px;
  font-size: 0.75rem;
}
.remark-guide:after {
  content: "분기화면 가이드";
  position: absolute;
  top: 0;
  right: 0;
  -webkit-border-radius: 0 0 0 4px;
  -moz-border-radius: 0 0 0 4px;
  -ms-border-radius: 0 0 0 4px;
  -o-border-radius: 0 0 0 4px;
  border-radius: 0 0 0 4px;
  padding: 2px 10px 6px;
  background-color: #fa6e44;
  font-family: "Font Awesome 5 Pro";
  font-weight: 900;
  color: #fff;
  font-size: 12px;
  font-size: 0.75rem;
}

/* placeholder */
::-webkit-input-placeholder {
  color: #ccc;
  letter-spacing: -0.16px;
}

::-moz-placeholder {
  color: #ccc;
  letter-spacing: -0.16px;
}

:-moz-placeholder {
  color: #ccc;
  letter-spacing: -0.16px;
}

:-ms-input-placeholder {
  color: #ccc !important;
  letter-spacing: -0.16px;
}

::-ms-clear {
  display: none;
}

textarea:-ms-input-placeholder {
  color: #ccc !important;
}

/* header */
header {
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
  height: 60px;
  min-width: 1280px;
}
header .bo-logo {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  float: left;
  width: 280px;
  height: 60px;
  background-color: #fff;
  text-align: center;
  color: #fff;
  border-right: 1px solid #d5d5d5;
  border-bottom: 1px solid #d5d5d5;
  -webkit-box-shadow: 0px 2px 3px 0 rgba(43, 43, 43, 0.3);
  -moz-box-shadow: 0px 2px 3px 0 rgba(43, 43, 43, 0.3);
  -ms-box-shadow: 0px 2px 3px 0 rgba(43, 43, 43, 0.3);
  -o-box-shadow: 0px 2px 3px 0 rgba(43, 43, 43, 0.3);
  box-shadow: 0px 2px 3px 0 rgba(43, 43, 43, 0.3);
  -webkit-transition: 0.2s ease-out;
  -moz-transition: 0.2s ease-out;
  -ms-transition: 0.2s ease-out;
  -o-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}
@media only screen and (max-width: 1280px) {
  header .bo-logo {
    width: 213px;
    padding-left: 20px;
  }
}
header .bo-logo img {
  width: 100px;
  padding-top: 20px;
}
header .header-wrap {
  margin-left: 280px;
  padding-left: 60px;
  padding-right: 60px;
  background-color: #fff;
  border-bottom: 1px solid #d5d5d5;
  -webkit-transition: 0.2s ease-out;
  -moz-transition: 0.2s ease-out;
  -ms-transition: 0.2s ease-out;
  -o-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}
@media only screen and (max-width: 1280px) {
  header .header-wrap {
    margin-left: 213px;
  }
}
header .header-wrap .btn-toggle-aside {
  float: left;
  line-height: 59px;
  font-size: 18px;
  font-size: 1.125rem;
  margin-right: 20px;
}
header .header-wrap .btn-toggle-aside a {
  color: #999;
}
header .header-wrap .btn-toggle-aside a .fa-toggle-on {
  color: #fa6e44;
}
header .header-wrap .breadcrumbs {
  float: left;
}
header .header-wrap .breadcrumbs li {
  float: left;
  font-size: 14px;
  font-size: 0.875rem;
  margin-right: 10px;
  line-height: 58px;
  color: #999;
}
header .header-wrap .breadcrumbs li i {
  font-size: 18px;
  font-size: 1.125rem;
  margin-right: 4px;
  color: #FFD54F;
}
header .header-wrap .breadcrumbs li:after {
  content: "/";
  display: inline-block;
  margin-left: 10px;
  font-size: 12px;
  font-size: 0.75rem;
}
header .header-wrap .breadcrumbs li:last-child:after {
  content: "";
}
header .header-wrap .breadcrumbs li a {
  color: #666;
}
header .header-wrap .my-profile {
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 59px;
}
header .header-wrap .my-profile .circle-profile {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  overflow: hidden;
  width: 40px;
  height: 40px;
}
header .header-wrap .my-profile .circle-profile img {
  width: 100%;
  padding: 0;
}
header .header-wrap:after {
  content: "";
  display: block;
  clear: both;
}

.main-expanded header .bo-logo {
  box-shadow: none;
}

/* aside */
aside {
  position: fixed;
  top: 60px;
  left: 0;
  z-index: 1000;
  float: left;
  margin: 0;
  width: 280px;
  height: calc(100% - 60px);
  background: #fff;
  border-right: 1px solid #d5d5d5;
  -webkit-box-shadow: 0px 2px 3px 0 rgba(43, 43, 43, 0.2);
  -moz-box-shadow: 0px 2px 3px 0 rgba(43, 43, 43, 0.2);
  -ms-box-shadow: 0px 2px 3px 0 rgba(43, 43, 43, 0.2);
  -o-box-shadow: 0px 2px 3px 0 rgba(43, 43, 43, 0.2);
  box-shadow: 0px 2px 3px 0 rgba(43, 43, 43, 0.2);
  -webkit-transition: 0.2s ease-out;
  -moz-transition: 0.2s ease-out;
  -ms-transition: 0.2s ease-out;
  -o-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}
@media only screen and (max-width: 1280px) {
  aside {
    width: 213px;
    padding-left: 20px;
  }
}
aside .aside-logo {
  display: inline-block;
  width: 109px;
  margin-top: 40px;
  margin-bottom: 32px;
}
aside .aside-logo img {
  width: 100%;
}
aside .lnb-scroll {
  position: relative;
  z-index: 1000;
  height: calc(100% - 110px);
  background: #fff;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}
aside .lnb-scroll::-webkit-scrollbar {
  width: 8px;
  height: 10px;
  border-bottom: 1px solid #fff;
  border-top: 1px solid #fff;
  background: #fff;
}
aside .lnb-scroll::-webkit-scrollbar-thumb {
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
  background-color: #dedede;
  border: 0;
}
aside .lnb-scroll::-webkit-scrollbar-track {
  -webkit-box-shadow: none;
  box-shadow: none;
}
aside .lnb-scroll .lnb-menu li {
  font-size: 16px;
  font-size: 1rem;
  line-height: 27px;
  letter-spacing: -0.4px;
  color: #666;
}
aside .lnb-scroll .lnb-menu li.lnb-depth-01:first-child {
  margin-top: 0;
}
aside .lnb-scroll .lnb-menu li.lnb-depth-01 {
  font-size: 16px;
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: -0.4px;
  color: #222;
  margin-top: 19px;
}
aside .lnb-scroll .lnb-menu li.lnb-depth-01.market-divide {
  width: 156px;
  margin-top: 24px;
  padding-top: 24px;
  border-top: 1px solid #e1e1e1;
}
aside .lnb-scroll .lnb-menu li.lnb-banner {
  margin-top: 28px;
}
aside .lnb-scroll .lnb-menu li a {
  position: relative;
}
aside .lnb-scroll .lnb-menu li a:hover,
aside .lnb-scroll .lnb-menu li a.active {
  /* font-weight: 500; */
  color: #ea002c;
}
aside .lnb-scroll .lnb-menu li.lnb-depth-01 a:hover {
  font-weight: bold;
  color: #222;
}
aside .lnb-scroll .lnb-menu li.icon-outlink a:hover:after {
  content: "";
  position: absolute;
  top: 5px;
  right: -20px;
  width: 16px;
  height: 16px;
  background: url("../images/common/icon-outlink.png") no-repeat 0 0;
}

.main-expanded aside {
  left: -280px;
  -webkit-transition: 0.2s ease-out;
  -moz-transition: 0.2s ease-out;
  -ms-transition: 0.2s ease-out;
  -o-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}

#sectionMenu {
  overflow: auto;
}
#sectionMenu,
#sectionMenu .menu-depth-01 {
  width: 100%;
  height: 100%;
}
#sectionMenu .menu-depth-01 li {
  display: block;
}
#sectionMenu .menu-depth-01 li > a {
  display: block;
  font-size: 15px;
  font-size: 0.9375rem;
  font-weight: 400;
  color: #454545;
  line-height: 50px;
  height: 50px;
  padding: 0 30px;
}
#sectionMenu .menu-depth-01 li > a:after {
  content: "";
  position: absolute;
  right: 16px;
  font-family: "Font Awesome 5 Pro";
  font-weight: 900;
  font-size: 13px;
  font-size: 0.8125rem;
  color: #aaa;
}
#sectionMenu .menu-depth-01 li:hover > a,
#sectionMenu .menu-depth-01 li:focus > a,
#sectionMenu .menu-depth-01 li.open > a,
#sectionMenu .menu-depth-01 li.active > a {
  /* background-color: #f5f5f5; */
  border-left: 4px solid #ea002c;
  color: #353535;
}
#sectionMenu .menu-depth-01 li.active > a:after,
#sectionMenu .menu-depth-01 li.active > a.active:after {
  content: "";
  color: #454545;
}
#sectionMenu .menu-depth-01 li > a.open:after {
  content: "";
  color: #454545;
}
#sectionMenu .submenu {
  display: block;
  overflow: hidden;
  -webkit-transition: 0.2s ease-out;
  -moz-transition: 0.2s ease-out;
  -ms-transition: 0.2s ease-out;
  -o-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
  background-color: #f9f9f9;
}
#sectionMenu .menu-depth-01 > li.active .menu-depth-02 {
  display: block;
}
#sectionMenu .menu-depth-02 {
  display: none;
  padding: 20px 43px;
}
#sectionMenu .menu-depth-02 li a {
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 34px;
  color: #666;
}
#sectionMenu .menu-depth-02 li a.active {
  font-weight: 500;
  color: #ea002c;
}

/* section */
#mainWrap {
  position: relative;
  top: 60px;
  right: 0;
  float: unset;
  min-width: 1260px;
  /* height: 100%; */
  padding-left: 280px;
  -webkit-transition: 0.2s ease-out;
  -moz-transition: 0.2s ease-out;
  -ms-transition: 0.2s ease-out;
  -o-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
  /* background-color: #f3f7fb; */
}

.main-expanded #mainWrap {
  padding-left: 0;
  -webkit-transition: 0.2s ease-out;
  -moz-transition: 0.2s ease-out;
  -ms-transition: 0.2s ease-out;
  -o-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}

.container-section {
  padding: 30px 60px 60px;
}

h1.main-title {
  font-size: 3.2rem;
  font-weight: 100;
  color: #454545;
  text-align: center;
  margin: 0.67em 0;
}

main .section.scroll-item {
  /* padding-left: 100px; */
  border-bottom: 1px solid #d5d5d5;
  padding-top: 88px;
}

main section article {
  margin-bottom: 2em;
  /* max-width: 93%; */
}

main section .article-note {
  width: 100%;
  border: 1px solid #d5d5d5;
  border-left: 5px solid #ff774e;
  padding: 12px 18px 12px 20px;
  margin-bottom: 16px;
  -webkit-border-radius: 0 2px 2px 0;
  -moz-border-radius: 0 2px 2px 0;
  -ms-border-radius: 0 2px 2px 0;
  -o-border-radius: 0 2px 2px 0;
  border-radius: 0 2px 2px 0;
  color: #555;
  font-weight: 300;
  line-height: 30px;
  list-style: none;
}
main section .article-note a:hover {
  color: #fa6e44;
}
main section .article-note a .fas {
  font-size: 10px;
  font-size: 0.625rem;
  color: #666;
  margin-right: 4px;
}

main section .article-desc {
  font-size: 14px;
  font-size: 0.875rem;
  color: #666;
  font-weight: 400;
  line-height: 28px;
  /* padding-left: 20px; */
  list-style: disc;
}

main h2 {
  font-size: 2.92rem;
  font-weight: 100;
  color: #fa6e44;
  /* margin: 0.83em 0; */
  margin-bottom: 0.83em;
}

main h3 {
  font-size: 1.42rem;
  font-weight: 300;
  color: #454545;
  margin: 1.2em 0 0.6em;
}

section.section .article-desc strong {
  color: #555;
}

section.section .article-desc code {
  background-color: #f9f2f4;
  color: #c7254e;
  padding: 2px 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  font-size: 90%;
}

.example {
  margin-top: 10px;
}
.example p {
  margin: 4px 0;
}

.hljs {
  padding: 0.2em 1em;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
}

.cut-down {
  position: relative;
  display: inline-block;
  width: calc(930px + 20px);
  margin-left: 77px;
  padding-right: 20px;
  overflow: hidden;
}
.cut-down .section-title-desc-main {
  padding-bottom: 7px;
}
.cut-down .bx-wrapper {
  margin-top: -30px;
  margin-bottom: 0;
  border: none;
  width: calc(100% + 20px);
  max-width: 950px !important;
}
.cut-down .bx-wrapper .bx-viewport {
  padding-top: 20px;
  padding-right: 20px;
}
.cut-down .bx-wrapper .bx-prev:hover,
.cut-down .bx-wrapper .bx-prev:focus,
.cut-down .bx-wrapper .bx-next:hover,
.cut-down .bx-wrapper .bx-next:focus {
  background-position: center;
}
.cut-down .bx-controls-direction {
  position: absolute;
  top: -35px;
  right: 20px;
}
.cut-down .bx-controls-direction > a {
  display: block;
  float: left;
  width: 35px;
  height: 35px;
  text-indent: -9999px;
  border: 1px solid #bcbcbc;
}
.cut-down .bx-controls-direction > a + a {
  margin-left: -1px;
}
.cut-down .bx-controls-direction > .bx-prev {
  background: url("../images/common/swiper-left-on.png") no-repeat center center;
}
.cut-down .bx-controls-direction > .bx-next {
  background: url("../images/common/swiper-right-on.png") no-repeat center center;
}
.cut-down .bx-controls-direction > .disabled {
  opacity: 0.35;
  filter: alpha(opacity=35);
}
.cut-down .cut-down-slider-cont a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 296px;
  height: 280px;
  text-align: center;
  background-size: cover;
  color: #666;
}
.cut-down .cut-down-slider-cont a:hover {
  -webkit-box-shadow: 6px 6px 10px 0 rgba(0, 0, 0, 0.12) 10px 0px 0px #000000;
  -moz-box-shadow: 6px 6px 10px 0 rgba(0, 0, 0, 0.12) 10px 0px 0px #000000;
  -ms-box-shadow: 6px 6px 10px 0 rgba(0, 0, 0, 0.12) 10px 0px 0px #000000;
  -o-box-shadow: 6px 6px 10px 0 rgba(0, 0, 0, 0.12) 10px 0px 0px #000000;
  box-shadow: 6px 6px 10px 0 rgba(0, 0, 0, 0.12) 10px 0px 0px #000000;
  -webkit-transform: translate(0, -10px);
  -moz-transform: translate(0, -10px);
  -ms-transform: translate(0, -10px);
  -o-transform: translate(0, -10px);
  transform: translate(0, -10px);
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.cut-down .cut-down-slider-cont a:hover .ban-title:after {
  content: "";
  position: absolute;
  width: 100%;
  display: block;
  padding-bottom: 1px;
  border-bottom: 1px solid #222;
}
.cut-down .cut-down-slider-cont a .ban-title {
  position: relative;
  display: inline-block;
  padding-top: 180px;
  font-size: 22px;
  font-size: 1.375rem;
  letter-spacing: -0.55px;
  color: #222;
  font-weight: bold;
}
.cut-down .cut-down-slider-cont a .ban-desc {
  display: block;
  padding-top: 12px;
  font-size: 14px;
  font-size: 0.875rem;
  letter-spacing: -0.35px;
  color: #767676;
  font-weight: 300;
  width: 210px;
  height: 56px;
  line-height: 21px;
  margin: auto;
  overflow: hidden;
}

/* 스크롤 탑 버튼 */
.scroll-top {
  position: fixed;
  bottom: 30px;
  left: auto;
  right: 30px;
  width: 60px;
  height: 60px;
  text-align: center;
  border: 1px solid #d5d5d5;
  background-color: #fff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  line-height: 59px;
}
.scroll-top a {
  display: inline-block;
  width: 100%;
  color: #fa6e44;
}

.example-wrap {
  width: 100%;
  height: 200px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #e5e5e5;
  padding: 20px 0 20px 20px;
  line-height: 24px;
  overflow-y: auto;
}

.example-ele {
  width: 140px;
  overflow: hidden;
  font-size: 20px;
  font-size: 1.25rem;
}
.example-ele li {
  border: 1px solid #e5e5e5;
  padding: 10px;
  font-size: 16px;
  font-size: 1rem;
  line-height: 22px;
}
.example-ele li + li {
  margin-top: 20px;
}

.login-container {
  width: 460px;
  height: 100%;
  margin: auto;
}

/* checkbox */
input[type=checkbox]:not(old) {
  margin: 0;
  padding: 0;
  opacity: 0;
  filter: alpha(opacity=0);
  width: 0;
  height: 0;
  background: url("../images/common/chk-not-old.png") no-repeat 0 0;
}
input[type=checkbox]:not(old) + label {
  position: relative;
  display: inline-block;
  margin-left: -3px;
  text-align: left;
  /* height: 20px; */
  padding-left: 35px;
  line-height: 120%;
  vertical-align: middle;
  cursor: pointer;
  font-size: 16px;
  font-size: 1rem;
  letter-spacing: -0.4px;
  color: #222;
  outline: none;
}
input[type=checkbox]:not(old) + label:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  background: url("../images/common/chk-not-old.png") no-repeat 0 0;
  display: inline-block;
}
input[type=checkbox]:not(old) + label.single:after {
  content: "";
  position: static;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  background: url("../images/common/chk-not-old.png") no-repeat 0 0;
  display: inline-block;
}
input[type=checkbox]:not(old) + label.label-only {
  text-indent: -9999px;
  font-size: 0px;
  font-size: 0rem;
  height: 22px;
  color: transparent;
  padding-left: 20px;
}
input[type=checkbox]:not(old) + label:hover:after, input[type=checkbox]:not(old) + label:active:after, input[type=checkbox]:not(old) + label:focus:after {
  background: url("../images/common/checkbox-h.png") no-repeat 0 0;
  outline: none;
}
input[type=checkbox]:not(old) + label::selection {
  background: transparent;
}
input[type=checkbox]:not(old) + label:nth-child(n) {
  margin-right: 20px;
}
input[type=checkbox]:not(old) + label:last-child {
  margin-right: 0;
}
input[type=checkbox]:not(old) + label.empty-label {
  padding-left: 18px;
}
input[type=checkbox]:not(old) + label.single {
  width: 18px;
  padding: 0;
}
input[type=checkbox]:not(old):focus + label:after {
  background: url("../images/common/checkbox-h.png") no-repeat 0 0;
  outline: none;
}
input[type=checkbox]:not(old):checked + label:after {
  background: url("../images/common/chk-not-old-checked.png") no-repeat 0 0;
}
input[type=checkbox]:focus + label:after {
  outline: auto -webkit-focus-ring-color;
  /* outline-color: #87cefa; */
}

/* radio */
input[type=radio]:not(old) {
  margin: 0;
  padding: 0;
  opacity: 0;
  filter: alpha(opacity=0);
  width: 0;
  height: 0;
  background: url("../images/common/radio-not-old.png") no-repeat 0 0;
}
input[type=radio]:not(old) + label {
  position: relative;
  display: inline-block;
  margin-left: -3px;
  text-align: left;
  /* height: 20px; */
  padding-left: 35px;
  line-height: 130%;
  vertical-align: middle;
  cursor: pointer;
  font-size: 16px;
  font-size: 1rem;
  letter-spacing: -0.4px;
  color: #222;
  outline: none;
}
input[type=radio]:not(old) + label:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  background: url("../images/common/radio-not-old.png") no-repeat 0 0;
  display: inline-block;
}
input[type=radio]:not(old) + label:hover:after, input[type=radio]:not(old) + label:active:after, input[type=radio]:not(old) + label:focus:after, input[type=radio]:not(old):focus + label:after {
  background: url("../images/common/radiobox-h.png") no-repeat 0 0;
  outline: none;
}
input[type=radio]:not(old):checked + label:after {
  background: url("../images/common/radio-not-old-checked.png") no-repeat 0 0;
}
input[type=radio]:not(old) + label::selection {
  background: transparent;
}
input[type=radio]:focus + label:after {
  outline: auto -webkit-focus-ring-color;
  /* outline-color: #87cefa; */
}
input[type=radio]:not(old) + label:nth-child(n) {
  margin-right: 40px;
}
input[type=radio]:last-child:not(old) + label, input[type=radio]:not(old) + label:last-child {
  margin-right: 0;
}
input[type=radio]:not(old) + label.single {
  width: 18px;
  padding: 0;
}

/* select */
select {
  height: 60px;
  font-size: 16px;
  font-size: 1rem;
  color: #ccc;
  cursor: pointer;
  padding: 18px 46px 18px 20px;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: transparent url("../images/common/img-select.png") 95% 53% no-repeat;
  margin-right: 4px;
  min-width: 120px;
  /* IE 10, 11의 네이티브 화살표 숨기기 */
}
select:hover, select:focus {
  border: 1px solid #222;
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  outline: 0;
}
select.select-temp {
  width: 100%;
}
select:nth-last-child(1) {
  margin-right: 0;
}
select.select-xs {
  min-width: 80px;
}
select.select-box-s {
  min-width: 170px;
  height: 32px;
  padding: 0 20px;
  vertical-align: top;
  font-size: 13px;
  font-size: 0.8125rem;
  color: #9b9b9b;
  background: url("../images/common/icon-select.png") right 12px center no-repeat;
}
select.select-box-s + .input-label-group {
  vertical-align: top;
}
select.select-box-m {
  padding: 0 56px 0 20px;
  width: 100%;
  height: 45px;
  background: url("../images/common/img-select.png") right 16px center no-repeat;
}
select::-ms-expand {
  display: none;
}
select.disabled, select:disabled, select.disabled + .select-box-current, select:disabled + .select-box-current, select.disabled + .select-box-current.disabled, select:disabled + .select-box-current.disabled {
  cursor: default;
  color: #ccc;
  background-color: #f5f5f5;
  border: 1px solid #e5e5e5;
}
select.disabled:hover, select.disabled:focus, select:disabled:hover, select:disabled:focus {
  border-color: #e5e5e5;
}
select.disabled:focus + .select-box-current.disabled, select:disabled:focus + .select-box-current.disabled {
  border-color: #e5e5e5;
}
select:focus + .select-box-current.disabled {
  border-color: #e5e5e5;
}
select.disabled + .select-box-current:hover {
  border-color: #e5e5e5;
}
select:disabled + .select-box-current:hover {
  border-color: #e5e5e5;
}
select:focus + .select-box-current {
  border: 1px solid #222;
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

/* selectbox-Custom */
.select-box {
  position: relative;
  z-index: 1;
  display: inline-block;
  vertical-align: top;
}
.select-box.on {
  z-index: 10;
}
.select-box > .select-box-current {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: block;
  background: #fff;
  /* transition: 0.2s; */
  white-space: nowrap;
}
.select-box > .select-box-current .inner {
  display: block;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.select-box > .select-box-current.on + .select-box-list {
  display: block;
}
.select-box.brd-none {
  width: auto;
  min-width: 240px;
  max-width: 500px;
}
.select-box.brd-none > select {
  display: none;
}
.select-box.brd-none.select-size-m > .select-box-current:hover, .select-box.brd-none select:focus + .select-box-current {
  border: none;
}
.select-box.brd-none.select-size-m > .select-box-current.on {
  border: none;
}
.select-box.brd-none .select-box-current {
  padding: 0 40px 0 0;
  border: none;
  font-weight: 300;
  font-size: 20px;
  font-size: 1.25rem;
}
.select-box.brd-none.select-size-m > .select-box-current {
  position: static;
}
.select-box.brd-none.select-size-m > .select-box-current:after {
  right: 0;
}
.select-box.brd-none.select-size-m .select-box-list {
  top: 34px;
}
.select-box select:disabled + .select-box-current.on {
  color: #ccc;
  border: 1px solid #e5e5e5;
}
.select-box select:disabled + .select-box-current.on:after {
  background: url("../images/common/img-select.png") no-repeat;
}
.select-box > select:disabled + .select-box-current + .select-box-list {
  display: none;
}
.select-box > select.disabled + .select-box-current + .select-box-list {
  display: none;
}
.select-box > select:disabled + .select-box-current.disabled + .select-box-list {
  display: none;
}
.select-box > select.disabled + .select-box-current.disabled + .select-box-list {
  display: none;
}

.select-box-list {
  position: absolute;
  left: 0;
  display: none;
  width: 100%;
  border: 1px solid #000;
  background: #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
.select-box-list li {
  position: relative;
  font-weight: 400;
  color: #666;
  letter-spacing: -0.4px;
  cursor: pointer;
}
.select-box-list li:hover {
  color: #000;
  background: #ededed;
}

/* select-size-lg */
.select-size-lg > .select-box-current {
  padding: 17px 64px 17px 20px;
  font-weight: 400;
  font-size: 16px;
  font-size: 1rem;
  color: #222;
  line-height: 24px;
  letter-spacing: -0.4px;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  cursor: pointer;
}
.select-size-lg > .select-box-current:after {
  content: "";
  position: absolute;
  top: 50%;
  right: 21px;
  width: 24px;
  height: 13px;
  background: url("../images/common/img-select.png") no-repeat;
  margin-top: -7px;
}
.select-size-lg > .select-box-current.on {
  color: #222;
  border: 1px solid #000;
}
.select-size-lg > .select-box-current.on:after {
  background: url("../images/common/img-select-on.png") no-repeat;
}
.select-size-lg .select-box-list {
  top: 65px;
  max-height: 300px;
  overflow: auto;
}
.select-size-lg .select-box-list li {
  padding: 18px 30px 18px 20px;
  font-size: 16px;
  font-size: 1rem;
  line-height: 24px;
}
.select-size-lg > .select-box-current.disabled:hover {
  border-color: #e5e5e5;
}

/* select-size-m */
.select-size-m > .select-box-current {
  padding: 10px 64px 9px 20px;
  font-weight: 400;
  font-size: 16px;
  font-size: 1rem;
  color: #222;
  line-height: 24px;
  letter-spacing: -0.4px;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  cursor: pointer;
}
.select-size-m > .select-box-current:after {
  content: "";
  position: absolute;
  top: 50%;
  right: 21px;
  width: 24px;
  height: 13px;
  background: url("../images/common/img-select.png") no-repeat;
  margin-top: -7px;
}
.select-size-m > .select-box-current.on {
  color: #222;
  border: 1px solid #000;
}
.select-size-m > .select-box-current.on:after {
  background: url("../images/common/img-select-on.png") no-repeat;
}
.select-size-m .select-box-list {
  top: 50px;
  max-height: 225px;
  overflow: auto;
}
.select-size-m .select-box-list li {
  padding: 11px 30px 10px 20px;
  font-size: 16px;
  font-size: 1rem;
  line-height: 24px;
}
.select-size-m > .select-box-current.disabled:hover {
  border-color: #e5e5e5;
}
.select-size-m > select.disabled + .select-box-current.on {
  color: #ccc;
  border: 1px solid #e5e5e5;
}
.select-size-m > select:disabled + .select-box-current.on {
  color: #ccc;
  border: 1px solid #e5e5e5;
}
.select-size-m > select.disabled + .select-box-current.on:after {
  background: url("../images/common/img-select.png") no-repeat;
}
.select-size-m > select:disabled + .select-box-current.on:after {
  background: url("../images/common/img-select.png") no-repeat;
}
.select-size-m > .select-box-current:hover {
  border: 1px solid #222;
  opacity: 1;
  filter: alpha(opacity=100);
  transition: 0.5s;
}

/* select-size-s */
.select-size-s > .select-box-current {
  padding: 5px 40px 5px 13px;
  font-weight: 400;
  font-size: 13px;
  font-size: 0.8125rem;
  color: #222;
  line-height: 20px;
  letter-spacing: -0.4px;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  cursor: pointer;
}
.select-size-s > .select-box-current:after {
  content: "";
  position: absolute;
  top: 50%;
  right: 16px;
  width: 15px;
  height: 9px;
  background: url("../images/common/icon-select-s-off.png") no-repeat;
  margin-top: -5px;
}
.select-size-s > .select-box-current.on {
  color: #222;
  border: 1px solid #000;
}
.select-size-s > .select-box-current.on:after {
  background: url("../images/common/icon-select-s-on.png") no-repeat;
}
.select-size-s .select-box-list {
  top: 35px;
  max-height: 150px;
  overflow: auto;
}
.select-size-s .select-box-list li {
  padding: 5px 40px 5px 13px;
  font-size: 13px;
  font-size: 0.8125rem;
  line-height: 20px;
}
.select-size-s > .select-box-current.disabled:hover {
  border-color: #e5e5e5;
}

/* scrollbar Custom */
#sectionMenu .mCSB_scrollTools,
#mainWrap .mCSB_scrollTools,
.modal .mCSB_scrollTools {
  width: 5px;
  right: 10px;
  opacity: 1;
  filter: alpha(opacity=100);
}

#sectionMenu .mCSB_inside > .mCSB_container,
#mainWrap .mCSB_inside > .mCSB_container,
.modal .mCSB_inside > .mCSB_container {
  margin-right: 0;
}

#sectionMenu .mCS-dark.mCSB_scrollTools .mCSB_draggerRail,
#mainWrap .mCS-dark.mCSB_scrollTools .mCSB_draggerRail,
.modal .mCS-dark.mCSB_scrollTools .mCSB_draggerRail {
  background-color: transparent;
}

#sectionMenu .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
#mainWrap .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
.modal .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  width: 5px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  border-radius: 25px;
}

#sectionMenu .mCS-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
#sectionMenu .mCS-dark.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar,
#mainWrap .mCS-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
#mainWrap .mCS-dark.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar,
.modal .mCS-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
.modal .mCS-dark.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar {
  background-color: rgba(51, 51, 51, 0.2) !important;
}

/* input */
input {
  font-family: "Noto Sans KR", "NotoSansKR", "mulgun gothic", Dotum, sans-serif;
}
input[type=text]::-ms-reveal, input[type=text]::-ms-clear, input[type=password]::-ms-reveal, input[type=password]::-ms-clear {
  display: none;
}
input[type=text] {
  height: 30px;
  font-size: 16px;
  font-size: 1rem;
  color: #222;
  border: 1px solid #e5e5e5;
  padding: 4px 20px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  margin-right: 4px;
}
input[type=text]:nth-last-child(1) {
  margin-right: 0;
}
input[type=text]:disabled, input input[type=password]:disabled, input textarea:disabled, input[type=text]:read-only, input input[type=password]:read-only, input textarea:read-only {
  background: #f5f5f5;
  color: #999;
  cursor: default;
  border: 1px solid #e5e5e5 !important;
}
input[type=text].input-mail {
  margin-right: 0;
}
input[type=text].input-m {
  height: 45px;
  line-height: 45px;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  padding-right: 20px;
}
input[type=text].post-search-input {
  width: 220px;
  height: 32px;
  border: 1px solid #e5e5e5;
  font-size: 13px;
  font-size: 0.8125rem;
  color: #9b9b9b;
  padding: 0 30px 0 13px;
  line-height: 32px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  margin-right: 0;
}
input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, input:-webkit-autofill:active {
  -webkit-transition: background-color 5000s ease-in-out 0s;
  -moz-transition: background-color 5000s ease-in-out 0s;
  -ms-transition: background-color 5000s ease-in-out 0s;
  -o-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
  -webkit-box-shadow: 0 0 0 1000px white inset !important;
  box-shadow: 0 0 0 1000px white inset !important;
}

.input-full {
  width: 100%;
}

textarea {
  width: 100%;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #e5e5e5;
  resize: none;
  font-family: inherit;
  color: #222;
  font-size: 16px;
  font-size: 1rem;
  padding: 20px;
}
textarea.textarea-badge {
  margin-top: 6px;
  margin-bottom: 6px;
}
textarea:hover, textarea:focus {
  border: 1px solid #222;
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}

/* input-label-group */
.input-label-group {
  position: relative;
  width: 100%;
  margin-bottom: 10px;
}
.input-label-group.inline-group {
  display: inline-block;
  width: auto;
}
.input-label-group:last-child {
  margin-bottom: 0;
}
.input-label-group .label-holder {
  display: none;
  position: absolute;
  top: 0;
  left: 21px;
  letter-spacing: -0.16px;
  color: #ccc;
  line-height: 60px;
}
.input-label-group .label-holder.label-off {
  display: none;
}
.input-label-group input {
  width: 100%;
  height: 60px;
  line-height: 60px;
  border: 1px solid #e5e5e5;
  padding: 0 90px 0 20px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  font-size: 16px;
  font-size: 1rem;
  color: #222;
  letter-spacing: -0.16px;
}
.input-label-group input:hover {
  border: 1px solid #222;
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.input-label-group input:focus, .input-label-group input:active {
  border: 1px solid #222;
  outline: 0;
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.input-label-group input:focus + .input-side .btn-input-del, .input-label-group input:active + .input-side .btn-input-del {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  margin-right: 10px;
  text-indent: -9999px;
  overflow: hidden;
}
.input-label-group input:focus + .input-side .btn-input-del:last-child, .input-label-group input:active + .input-side .btn-input-del:last-child {
  margin-right: 0;
}
.input-label-group input.input-error {
  border: 1px solid #f86253;
}
.input-label-group input.input-pass + .input-side .btn-input-del {
  margin-right: 10px;
}
.input-label-group .input-side {
  position: absolute;
  top: 0;
  right: 20px;
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  line-height: 60px;
}
.input-label-group .input-side.small-side {
  position: absolute;
  top: 0;
  right: 13px;
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  line-height: 30px;
}
.input-label-group .input-side.small-side .btn-search-icon {
  display: inline-block;
  vertical-align: middle;
  width: 14px;
  height: 13px;
  background: url(../images/common/icon-search-small.png) no-repeat;
}
.input-label-group .input-side .btn-input-del {
  display: inline-block;
  opacity: 0;
  filter: alpha(opacity=0);
  width: 16px;
  height: 15px;
  background: url("../images/common/img-form-delete.png");
}
.input-label-group .input-side .success {
  display: inline-block;
  width: 18px;
  height: 13px;
  background: url("../images/common/img-form-right.png");
}
.input-label-group .input-side .error {
  display: inline-block;
  width: 11px;
  height: 16px;
  background: url("../images/common/img-form-error.png");
}
.input-label-group .input-side .btn-mask {
  display: inline-block;
  width: 26px;
  height: 16px;
  background: url("../images/common/img-security-on.png");
  overflow: hidden;
  text-indent: -9999px;
}
.input-label-group .input-side .btn-mask.on {
  display: inline-block;
  width: 26px;
  height: 18px;
  background: url("../images/common/img-security-off.png");
}
.input-label-group .input-side .attention-msg {
  font-size: 16px;
  font-size: 1rem;
  letter-spacing: -0.16px;
  color: #f76252;
}
.input-label-group .input-side .btn-search-icon {
  display: inline-block;
  width: 29px;
  height: 28px;
  background: url("../images/common/icon-search.png");
  font-size: 0px;
  font-size: 0rem;
}
.input-label-group .input-side .del-icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  background: url("../images/common/btn-del-icon.png");
  font-size: 0px;
  font-size: 0rem;
  margin-right: 15px;
  margin-bottom: 3px;
}
.input-label-group .desc-error {
  display: block;
  font-size: 14px;
  font-size: 0.875rem;
  color: #d22e2e;
  margin-top: 10px;
  margin-bottom: 20px;
}
.input-label-group.size-m {
  display: inline-block;
  width: inherit;
  margin-bottom: 0;
}
.input-label-group.size-m input {
  width: inherit;
  line-height: 45px;
  padding-right: 20px;
}
.input-label-group.size-m .label-holder {
  line-height: 45px;
}
.input-label-group.size-m .input-side {
  line-height: 45px;
}

/* input-button-group */
.input-button-group.size-m {
  text-align: left;
}
.input-button-group.size-m .btn-input-add {
  width: 100px;
  height: 45px;
  line-height: 45px;
}
.input-button-group.size-m input {
  -webkit-border-radius: 5px 0 0 5px;
  -moz-border-radius: 5px 0 0 5px;
  -ms-border-radius: 5px 0 0 5px;
  -o-border-radius: 5px 0 0 5px;
  border-radius: 5px 0 0 5px;
}
.input-button-group.size-m .btn-calendar-add {
  position: absolute;
  top: 0;
  right: 0;
  width: 63px;
  height: 45px;
  background: #ededed url("../images/common/icon-date.png") no-repeat center;
  -webkit-border-radius: 0 5px 5px 0;
  -moz-border-radius: 0 5px 5px 0;
  -ms-border-radius: 0 5px 5px 0;
  -o-border-radius: 0 5px 5px 0;
  border-radius: 0 5px 5px 0;
  font-size: 16px;
  font-size: 1rem;
  line-height: 45px;
  text-align: center;
  color: #666;
  letter-spacing: -0.16px;
}
.input-button-group input:focus + .btn-calendar-add,
.input-button-group input:hover + .btn-calendar-add,
.input-button-group input + .btn-calendar-add:focus,
.input-button-group input + .btn-calendar-add:hover {
  background: #333 url("../images/common/icon-date-hover.png") no-repeat center;
  color: #fff;
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.input-button-group input {
  width: 360px;
  -webkit-border-radius: 5px 0 0 5px;
  -moz-border-radius: 5px 0 0 5px;
  -ms-border-radius: 5px 0 0 5px;
  -o-border-radius: 5px 0 0 5px;
  border-radius: 5px 0 0 5px;
  border-right: 0;
}
.input-button-group input:focus,
.input-button-group input:hover,
.input-button-group input:active {
  border-right: 0;
}
.input-button-group input:focus + .btn-input-add,
.input-button-group input:hover + .btn-input-add,
.input-button-group input + .btn-input-add:focus,
.input-button-group input + .btn-input-add:hover {
  background-color: #333;
  color: #fff;
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.input-button-group input:disabled,
.input-button-group input.disabled {
  background-color: #fafafa;
  border: 1px solid #e5e5e5;
  color: #ccc;
  border-right: 0;
  cursor: default;
}
.input-button-group input:disabled + .btn-input-add,
.input-button-group input:disabled + .btn-input-add:hover,
.input-button-group input:disabled + .btn-input-add:focus,
.input-button-group input.disabled + .btn-input-add,
.input-button-group input.disabled + .btn-input-add:hover,
.input-button-group input.disabled + .btn-input-add:focus {
  background-color: #ededed;
  color: #666;
  cursor: default;
}
.input-button-group .btn-input-add {
  position: absolute;
  top: 0;
  right: 0;
  width: 100px;
  height: 60px;
  background: #ededed;
  -webkit-border-radius: 0 5px 5px 0;
  -moz-border-radius: 0 5px 5px 0;
  -ms-border-radius: 0 5px 5px 0;
  -o-border-radius: 0 5px 5px 0;
  border-radius: 0 5px 5px 0;
  font-size: 16px;
  font-size: 1rem;
  line-height: 60px;
  text-align: center;
  color: #666;
  letter-spacing: -0.16px;
}

/* 파일첨부 */
.file-box {
  font-size: 0px;
  font-size: 0rem;
}
.file-box .file-name {
  display: inline-block;
  width: 360px;
  height: 45px;
  background: #fff !important;
  padding: 0 20px;
  margin-right: 0;
  vertical-align: middle;
  -webkit-border-radius: 5px 0 0 5px;
  -moz-border-radius: 5px 0 0 5px;
  -ms-border-radius: 5px 0 0 5px;
  -o-border-radius: 5px 0 0 5px;
  border-radius: 5px 0 0 5px;
  border: 1px solid #e5e5e5;
  border-right: none;
  font-size: 16px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 45px;
}
.file-box .btn-file {
  display: inline-block;
  width: 100px;
  height: 45px;
  background: #e5e5e5;
  font-weight: 400;
  font-size: 16px;
  font-size: 1rem;
  line-height: 45px;
  text-align: center;
  vertical-align: middle;
  -webkit-border-radius: 0 5px 5px 0;
  -moz-border-radius: 0 5px 5px 0;
  -ms-border-radius: 0 5px 5px 0;
  -o-border-radius: 0 5px 5px 0;
  border-radius: 0 5px 5px 0;
  border: 1px solid #e5e5e5;
  border-left: none;
}
.file-box .btn-file:hover {
  cursor: pointer;
}
.file-box .btn-file.disabled {
  color: #bbb;
}
.file-box input[type=file] {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
.file-box + .file-add-list {
  margin-top: 25px;
}

.file-box-caution-note {
  display: block;
  margin-top: 10px;
  font-weight: 400;
  font-size: 13px;
  font-size: 0.8125rem;
  color: #666;
}

.add-file-name {
  display: inline-block;
  margin-right: 6px;
  font-weight: 400;
  font-size: 14px;
  font-size: 0.875rem;
  color: #222;
  vertical-align: top;
}

.file-remove {
  position: relative;
  top: 1;
  display: inline-block;
  width: 11px;
  height: 12px;
  background: url("../images/common/icon-file-delete.png") no-repeat 0 0;
  padding: 0;
  overflow: hidden;
  text-indent: -9999px;
  text-align: left;
  border: none;
  cursor: pointer;
  vertical-align: top;
}

.file-add-list + .file-add-list {
  margin-top: 15px;
}

.file-add-list:hover .add-file-name {
  text-decoration: underline;
}

.file-add-list:hover .file-remove {
  background-position: 0 -12px;
}

/* table common */
table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: fixed;
}
table th.al-left,
table td.al-left {
  text-align: left;
}
table td.al-center {
  text-align: center;
}
table td.al-right {
  text-align: right;
}
table td .ellipsis {
  display: block;
  font-weight: 400;
  color: #222;
  text-overflow: ellipsis;
}

.essential-disc {
  display: inline-block;
  width: 5px;
  height: 5px;
  background: #f76252;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  overflow: hidden;
  text-indent: -9999px;
  text-align: left;
  vertical-align: top;
  margin-top: 2px;
  margin-left: 2px;
}

.table-container {
  border-top: 1px solid #9c9c9c;
  border-bottom: 1px solid #dfdfdf;
  /* col table */
  /* row table */
}
.table-container .table-al-center th,
.table-container .table-al-center td {
  text-align: center;
}
.table-container .table-al-center td.al-left {
  text-align-last: left;
}
.table-container .no-head thead {
  display: none;
}
.table-container .no-head tbody > tr:first-child td {
  border-top: 0;
}
.table-container .table-col thead th {
  height: 60px;
  padding: 10px 0;
  font-weight: normal;
  font-size: 16px;
  font-size: 1rem;
  color: #222;
  line-height: normal;
  letter-spacing: -0.4px;
  vertical-align: middle;
}
.table-container .table-col td {
  height: 80px;
  padding: 10px 10px;
  border-top: 1px solid #dfdfdf;
  font-weight: 300;
  font-size: 18px;
  font-size: 1.125rem;
  color: #666;
  vertical-align: middle;
  word-break: break-all;
}
.table-container .table-col td.td-pl0 {
  padding-left: 0;
}
.table-container .table-col td.td-pl-inherit {
  padding: inherit;
}
.table-container .table-col td.date {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 14px;
  font-size: 0.875rem;
}
.table-container .table-col td.result-no {
  padding: 30px 0;
  text-align: center;
  font-weight: 400;
  font-size: 18px;
  font-size: 1.125rem;
  color: #888;
}
.table-container .table-col .import {
  display: inline-block;
  min-width: 65px;
  padding: 0 10px;
  line-height: 30px;
  font-size: 16px;
  font-size: 1rem;
  color: #000;
  text-align: center;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  background: #e6e6e6;
}
.table-container .table-col .reply td {
  background: #f6f6f6;
  border-top: none;
}
.table-container .table-col .reply td .reply-link {
  position: relative;
  display: inline-block;
  padding-left: 22px;
}
.table-container .table-col .reply td .reply-link:before {
  content: "";
  position: absolute;
  top: -6px;
  left: 0;
  width: 14px;
  height: 23px;
  background: url(../images/common/icon-reply.png) no-repeat;
}
.table-container .table-col.table-preview td {
  height: 60px;
}
.table-container .table-col.table-preview td .ellipsis {
  font-weight: 300;
  color: #000;
}
.table-container .table-col tr.fixed,
.table-container .table-col .h60 td {
  height: 60px;
}
.table-container .table-col tr.fixed {
  background-color: #fafafa;
}
.table-container .table-col .complete-use td {
  text-decoration: line-through;
}
.table-container .table-td-16 td {
  font-size: 16px;
  font-size: 1rem;
  letter-spacing: -0.4px;
  color: #666;
  font-weight: normal;
  line-height: 22px;
}
.table-container .table-row tr.fixed {
  background-color: #fafafa;
}
.table-container .table-row th {
  height: 60px;
  padding: 18px 0;
  border-bottom: 1px solid #dfdfdf;
  font-weight: normal;
  font-size: 16px;
  font-size: 1rem;
  color: #222;
  letter-spacing: -0.4px;
  vertical-align: middle;
  text-align: left;
}
.table-container .table-row td {
  height: 60px;
  padding: 18px 0;
  border-bottom: 1px solid #dfdfdf;
  font-weight: normal;
  font-size: 16px;
  font-size: 1rem;
  color: #666;
  letter-spacing: -0.16px;
  vertical-align: middle;
  word-break: break-all;
}
.table-container .table-row td strong {
  font-size: 17px;
  font-size: 1.0625rem;
  letter-spacing: -0.17px;
  color: #222;
  font-weight: 500;
}
.table-container .table-row tr:last-child th,
.table-container .table-row tr:last-child td {
  border-bottom: 0;
}
.table-container .td-list > li {
  padding-bottom: 10px;
}
.table-container .td-list > li:last-child {
  padding-bottom: 0;
}

.list-total-num-wrap {
  height: 32px;
  margin-bottom: 15px;
}
.list-total-num-wrap .list-add-left {
  float: left;
}
.list-total-num-wrap .list-add-right {
  float: right;
}
.list-total-num-wrap .total-num {
  font-size: 16px;
  font-size: 1rem;
  letter-spacing: -0.4px;
  color: #666;
  font-weight: 300;
  padding-top: 14px;
}
.list-total-num-wrap .total-num b {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  color: #222;
  margin-left: 5px;
}

/* static table */
.table-container-static {
  border-top: 1px solid #222;
}
.table-container-static table {
  width: 100%;
  table-layout: fixed;
}
.table-container-static table th {
  height: 55px;
  font-weight: 400;
  font-size: 16px;
  font-size: 1rem;
  color: #222;
  letter-spacing: -0.4px;
  vertical-align: middle;
  border-right: 1px solid #ddd;
}
.table-container-static table th:last-child {
  border-right: none;
}
.table-container-static table td {
  padding: 20px 0;
  vertical-align: middle;
  border: 1px solid #ddd;
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  font-size: 1rem;
  color: #666;
  line-height: 24px;
  letter-spacing: -0.4px;
}
.table-container-static table td small {
  display: block;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 20px;
}
.table-container-static table td.al-left {
  padding: 20px;
  text-align: left;
}
.table-container-static table tr td:first-child {
  border-left: none;
}
.table-container-static table tr td:last-child {
  border-right: none;
}
.table-container-static + .static-cont-title {
  margin-top: 90px;
}

.heading-text {
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 16px;
  font-size: 1rem;
  color: #666;
  letter-spacing: -0.16px;
}

.list-title-wrap {
  overflow: hidden;
  margin-bottom: 15px;
}
.list-title-wrap.brd-add {
  padding-bottom: 15px;
  margin-bottom: 0;
  border-bottom: 1px solid #9c9c9c;
}
.list-title-wrap .list-add-left {
  float: left;
}
.list-title-wrap .list-add-right {
  float: right;
}
.list-title-wrap .list-add-left.add-state {
  float: none;
  display: inline-block;
  vertical-align: middle;
}
.list-title-wrap .list-title-h3 {
  font-size: 20px;
  font-size: 1.25rem;
  letter-spacing: -0.5px;
  font-weight: normal;
}
.list-title-wrap .list-title-desc {
  font-size: 16px;
  font-size: 1rem;
  letter-spacing: -0.4px;
  color: #666;
  font-weight: 300;
}
.list-title-wrap .list-title-desc span {
  color: #222;
  font-weight: normal;
}
.list-title-wrap .list-title-desc span a.link-underline {
  display: inline-block;
  border-bottom: 1px solid #222;
  font-style: normal;
  padding-bottom: 2px;
}

.fieldset-set {
  margin-top: 70px;
}

/* pagenation */
.wrap-pagination {
  clear: both;
  text-align: center;
  margin: 70px 30px 0;
}
.wrap-pagination .pagination {
  font-size: 0px;
  font-size: 0rem;
}
.wrap-pagination .pagination li {
  display: inline-block;
  margin: 0 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  text-align: center;
  vertical-align: top;
  height: 32px;
}
.wrap-pagination .pagination li a {
  display: inline-block;
  min-width: 32px;
  color: #888;
  font-size: 15px;
  font-size: 0.9375rem;
  padding: 0 3px;
  line-height: 32px;
  text-align: center;
}
.wrap-pagination .pagination li a:hover {
  color: #000;
}
.wrap-pagination .pagination li.active a {
  color: #000;
}
.wrap-pagination .pagination li .paging-btn {
  width: 32px;
  height: 32px;
  background: url("../images/common/sprite-paging-btns.png") no-repeat 0 0;
  overflow: hidden;
  text-indent: -9999px;
}
.wrap-pagination .pagination li .paging-btn.paging-btn-first {
  background-position: 0 0;
}
.wrap-pagination .pagination li .paging-btn.paging-btn-first:hover {
  background-position: 0 -32px;
}
.wrap-pagination .pagination li .paging-btn.paging-btn-first.disabled {
  cursor: default;
}
.wrap-pagination .pagination li .paging-btn:hover.paging-btn-first.disabled {
  background-position: 0 0;
}
.wrap-pagination .pagination li .paging-btn.paging-btn-prev {
  margin-right: 18px;
  background-position: -32px 0;
}
.wrap-pagination .pagination li .paging-btn.paging-btn-prev:hover {
  background-position: -32px -32px;
}
.wrap-pagination .pagination li .paging-btn.paging-btn-prev.disabled {
  cursor: default;
}
.wrap-pagination .pagination li .paging-btn:hover.paging-btn-prev.disabled {
  background-position: -32px 0;
}
.wrap-pagination .pagination li .paging-btn.paging-btn-next {
  margin-left: 18px;
  background-position: -64px 0;
}
.wrap-pagination .pagination li .paging-btn.paging-btn-next:hover {
  background-position: -64px -32px;
}
.wrap-pagination .pagination li .paging-btn.paging-btn-next.disabled {
  cursor: default;
}
.wrap-pagination .pagination li .paging-btn:hover.paging-btn-next.disabled {
  background-position: -64px 0;
}
.wrap-pagination .pagination li .paging-btn.paging-btn-last {
  background-position: -96px 0;
}
.wrap-pagination .pagination li .paging-btn.paging-btn-last:hover {
  background-position: -96px -32px;
}
.wrap-pagination .pagination li .paging-btn.paging-btn-last.disabled {
  cursor: default;
}
.wrap-pagination .pagination li .paging-btn:hover.paging-btn-last.disabled {
  background-position: -96px 0;
}
.wrap-pagination + .btn-group:nth-last-child(1) {
  margin-top: -24px;
  margin-bottom: 10px;
}

/* tab menu */
.wrap-tab {
  /* tab bg-white */
  /* tab menu 사이즈 100% */
}
.wrap-tab .tab {
  width: 100%;
  height: auto;
  margin-bottom: 40px;
}
.wrap-tab .tab ul {
  padding: 0;
  margin: 0;
  list-style: none;
  height: auto;
  overflow: hidden;
}
.wrap-tab .tab ul li {
  float: left;
  padding: 0 40px;
  line-height: 48px;
  text-align: center;
  cursor: pointer;
  font-size: 16px;
  font-size: 1rem;
  letter-spacing: -0.16px;
  color: #666;
  background-color: #f7f7f7;
  border: 1px solid #ededed;
  border-right: 0;
  border-bottom: 1px solid #222;
}
.wrap-tab .tab ul li:last-child {
  border-right: 1px solid #ededed;
}
.wrap-tab .tab ul li.on {
  background-color: #fff;
  color: #222;
  border: 1px solid #222;
  border-bottom: 1px solid #fff;
  -webkit-transition: background 0.25s linear;
  -moz-transition: background 0.25s linear;
  -ms-transition: background 0.25s linear;
  -o-transition: background 0.25s linear;
  transition: background 0.25s linear;
}
.wrap-tab .tab ul li.disabled {
  background-color: #f5f5f5;
  color: #999;
  cursor: default;
}
.wrap-tab .tab-conts.fade {
  visibility: hidden;
  height: 0;
}
.wrap-tab .tab-conts.fade.on {
  visibility: visible;
  height: 100%;
  min-height: 338px;
  display: block !important;
}
.wrap-tab .tab.white {
  margin-bottom: 50px;
}
.wrap-tab .tab.white ul li {
  font-size: 16px;
  font-size: 1rem;
  letter-spacing: -0.48px;
  color: #a2a2a2;
  background-color: #fff;
  border: 1px solid #ededed;
  border-right: 0;
  border-bottom: 1px solid #000;
}
.wrap-tab .tab.white ul li:last-child {
  border-right: 1px solid #ededed;
}
.wrap-tab .tab.white ul li.on {
  background-color: #fff;
  color: #222;
  font-weight: 500;
  border: 1px solid #000;
  border-bottom: 1px solid #fff;
  -webkit-transition: background 0.25s linear;
  -moz-transition: background 0.25s linear;
  -ms-transition: background 0.25s linear;
  -o-transition: background 0.25s linear;
  transition: background 0.25s linear;
}
.wrap-tab .tab.justify {
  width: 100%;
  height: auto;
}
.wrap-tab .tab.justify ul {
  display: table;
  table-layout: fixed;
  width: 100%;
}
.wrap-tab .tab.justify ul li {
  display: table-cell;
  float: none;
  padding: 0 10px;
}

/* modal */
.jquery-modal.blocker {
  z-index: 5000;
  background-color: rgba(0, 0, 0, 0.7);
}
.jquery-modal.blocker div.modal {
  max-width: inherit;
  width: 1000px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
  box-shadow: 0 0 10px #555;
  padding: 0;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  /* modal size */
}
.jquery-modal.blocker div.modal.modal-xs {
  width: 520px;
}
.jquery-modal.blocker div.modal.modal-sm {
  width: 600px;
}
.jquery-modal.blocker div.modal.modal-m {
  width: 850px;
}
.jquery-modal.blocker div.modal.modal-lg {
  width: 1200px;
}
.jquery-modal.blocker div.modal .modal-header {
  min-height: 70px;
  padding: 27px 40px 24px 40px;
  border-bottom: 1px solid #d5d5d5;
}
.jquery-modal.blocker div.modal .modal-header .modal-title {
  color: #080808;
  font-size: 18px;
  font-size: 1.125rem;
  font-weight: 500;
  letter-spacing: -0.45px;
}
.jquery-modal.blocker div.modal .modal-body {
  position: relative;
  padding: 50px 40px;
}
.jquery-modal.blocker div.modal .modal-body h2.title-article {
  font-size: 16px;
  font-size: 1rem;
  font-weight: 500;
  line-height: 34px;
}
.jquery-modal.blocker div.modal .modal-body .text-nomal-16 {
  font-size: 16px;
  font-size: 1rem;
  line-height: 24px;
  letter-spacing: -0.8px;
  color: #222;
}
.jquery-modal.blocker div.modal .modal-body .text-nomal-14 {
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 22px;
  letter-spacing: -0.14px;
  color: #666;
}
.jquery-modal.blocker div.modal .modal-footer {
  padding: 20px 30px 50px;
}
.jquery-modal.blocker div.modal .modal-footer .btn-group-pop {
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
}
.jquery-modal.blocker div.modal .modal-footer .btn-group-pop .btn {
  margin-bottom: 0;
}
.jquery-modal.blocker div.modal .modal-footer .btn-group-pop.splits-02 .btn {
  width: 215px;
}
.jquery-modal.blocker div.modal .modal-footer .btn-search {
  background-color: #ff774e;
}
.jquery-modal.blocker div.modal .title-group {
  margin-bottom: -5px;
}
.jquery-modal.blocker div.modal a.close-modal {
  top: 24px;
  font-size: 0px;
  font-size: 0rem;
  width: 26px;
  height: 25px;
  background: url("../images/common/img-close.png");
}

/* Tooltip */
.tooltip {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: #ccc;
  cursor: help;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  line-height: 22px;
  text-align: center;
  margin-left: 4px;
}
.tooltip .tooltip-text {
  visibility: hidden;
  position: absolute;
  width: 320px;
  background-color: rgba(51, 51, 51, 0.8);
  font-size: 12px;
  font-size: 0.75rem;
  line-height: normal;
  color: #fff;
  text-align: left;
  padding: 19px 20px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  z-index: 1;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.6s;
  -moz-transition: opacity 0.6s;
  -ms-transition: opacity 0.6s;
  -o-transition: opacity 0.6s;
  transition: opacity 0.6s;
}
.tooltip:hover, .tooltip:focus {
  background-color: #222;
  outline: none;
}
.tooltip:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
  filter: alpha(opacity=100);
  z-index: 10000;
}
.tooltip .tooltip-top {
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
}
.tooltip .tooltip-right {
  top: 0;
  left: 125%;
}
.tooltip .tooltip-bottom {
  top: 135%;
  left: 50%;
  margin-left: -10px;
}
.tooltip .tooltip-left {
  top: 0;
  bottom: auto;
  right: 128%;
}

/* loading */
.loading-image {
  position: fixed;
  top: 50%;
  left: calc(50% - 80px);
  z-index: 1000;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  width: 160px;
  height: 160px;
  background: #fff;
  -webkit-box-shadow: 0px 0px 21px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 21px 0px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0px 0px 21px 0px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0px 0px 21px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 21px 0px rgba(0, 0, 0, 0.1);
  margin: -80px 0 0 0;
  padding-top: 32px;
  text-align: center;
}
.loading-image > .loading-guide-text {
  display: block;
  padding-top: 2px;
  font-weight: 400;
  font-size: 13px;
  font-size: 0.8125rem;
  color: #666;
  letter-spacing: -1px;
}

/* datepicker */
.ui-widget.ui-datepicker.ui-widget-content {
  width: 295px;
  padding: 30px 25px;
  margin-top: 10px;
  border: 1px solid #333;
}
.ui-widget.ui-datepicker.ui-widget-content .ui-widget-header {
  background: #fff;
  border: none;
  height: 50px;
  padding: 0;
}
.ui-widget.ui-datepicker.ui-widget-content .ui-datepicker-title select {
  font-family: "Roboto", sans-serif;
  color: #222;
  height: inherit;
  padding: 4px 10px;
  border: 0;
  font-size: 20px;
  font-size: 1.25rem;
}

.ui-state-highlight,
.ui-datepicker.ui-widget-content .ui-state-highlight,
.ui-widget-header .ui-state-highlight {
  background: #fa6e44;
  color: #fff;
  border: none;
}

.ui-datepicker.ui-widget.ui-datepicker td span,
.ui-widget.ui-datepicker td a {
  text-align: center;
}

.ui-widget.ui-datepicker .ui-state-default,
.ui-widget.ui-datepicker .ui-widget-content .ui-state-default,
.ui-widget.ui-datepicker .ui-widget-header .ui-state-default,
.ui-widget.ui-datepicker .ui-button,
html .ui-widget.ui-datepicker .ui-button.ui-state-disabled:hover,
html .ui-widget.ui-datepicker .ui-button.ui-state-disabled:active {
  width: 25px;
  height: 25px;
  background: #fff;
  line-height: 20px;
  border: none;
  font-weight: normal;
  color: #454545;
  text-align: center;
  margin: auto;
}

.ui-widget.ui-datepicker .ui-state-active,
.ui-widget.ui-datepicker.ui-widget-content .ui-state-active,
.ui-widget.ui-datepicker .ui-widget-header .ui-state-active,
.ui-widget.ui-datepicker a.ui-button:active,
.ui-widget.ui-datepicker .ui-button:active,
.ui-widget.ui-datepicker .ui-button.ui-state-active:hover {
  border: none;
  background: #fa6e44;
  font-weight: normal;
  color: #fff;
}

.ui-datepicker th.ui-datepicker-week-end:first-child > span {
  color: #fa6e44;
}

.ui-widget.ui-datepicker .ui-datepicker-week-end:first-child .ui-state-default {
  color: #fa6e44;
}

.ui-widget.ui-datepicker .ui-datepicker-week-end:last-child {
  color: #222;
}

.ui-widget.ui-datepicker .ui-state-active,
.ui-widget.ui-datepicker.ui-widget-content .ui-state-default.ui-state-active {
  color: #fff;
}

.ui-datepicker .ui-datepicker-prev .ui-icon {
  background: url("../images/common/date-select-left.png") no-repeat center;
}

.ui-datepicker .ui-datepicker-next .ui-icon {
  background: url("../images/common/date-select-right.png") no-repeat center;
}

/* button */
.btn {
  background-color: #fff;
  border: 1px solid #c3c3c3;
  color: #666;
  cursor: pointer;
  display: inline-block;
  font-size: 18px;
  font-size: 1.125rem;
  height: 60px;
  line-height: 60px;
  padding: 0 10px;
  text-align: center;
  vertical-align: middle;
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.btn.btn-primary {
  background-color: #ededed;
  border: 1px solid transparent;
  color: #666;
}
.btn.btn-black {
  background-color: #333;
  border: 1px solid transparent;
  color: #fff;
}
.btn.btn-default {
  background-color: #fff;
  border: 1px solid #c3c3c3;
  color: #666;
}
.btn.btn-agree-all {
  border: 1px solid #c3c3c3;
  color: #666;
  background: #fff url("../images/common/agree-check.png") no-repeat 30px 20px;
}
.btn.btn-agree-all.active {
  color: #fff;
  border: transparent;
  background: #f76252 url("../images/common/agree-check-on.png") no-repeat 30px 20px;
}
.btn.btn-inquiry {
  height: 35px;
  padding: 0 16px;
  line-height: 33px;
  font-weight: 400;
  font-size: 14px;
  font-size: 0.875rem;
  color: #222;
  letter-spacing: -0.35px;
  border: 1px solid #dedede;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
}
.btn.btn-inquiry:hover {
  border: 1px solid #222;
}
.btn.btn-inquiry > i {
  position: relative;
  top: 2px;
  display: inline-block;
  margin-right: 6px;
  width: 14px;
  height: 15px;
  background: url("../images/common/icon-question.png");
}
.btn.btn-board-default {
  min-width: 95px;
  height: 35px;
  padding: 0 16px;
  line-height: 35px;
  font-weight: 400;
  font-size: 14px;
  font-size: 0.875rem;
  color: #222;
  letter-spacing: -0.35px;
  border: 1px solid #dedede;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
}
.btn.btn-board-default:hover {
  border: 1px solid #222;
}
.btn.btn-board-default.disabled:hover {
  border: 1px solid #dedede;
}
.btn.link-underline {
  display: inline-block;
  height: auto;
  padding: 0 0 2px 0;
  border: none;
  border-bottom: 1px solid #222;
  font-size: 0px;
  font-size: 0rem;
  line-height: 1;
  background: none;
}
.btn.link-underline span {
  position: relative;
  display: inline-block;
  padding-right: 17px;
  font-weight: 300;
  font-size: 14px;
  font-size: 0.875rem;
  color: #222;
  letter-spacing: -0.35px;
}
.btn.link-underline span:after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  width: 5px;
  height: 10px;
  background: url("../images/common/arrow-right-more.png") no-repeat;
  margin-top: -5px;
}
.btn.btn-small-white {
  height: auto;
  padding: 0 16px;
  font-weight: 400;
  font-size: 13px;
  font-size: 0.8125rem;
  color: #000;
  line-height: 23px;
  letter-spacing: -0.33px;
  border: 1px solid #dedede;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  background: #fff;
}
.btn.disabled {
  background-color: #fff;
  border: 1px solid #ededed;
  color: #ccc;
  cursor: default;
}

.btn-group {
  margin-right: 4px;
}
.btn-group .btn:first-child {
  margin-right: 4px;
}
.btn-group .btn + .btn {
  margin-right: 4px;
}
.btn-group .btn + .btn:last-child {
  margin-right: 0;
}
.btn-group.btn-center {
  text-align: center;
  margin-top: 24px;
  margin-bottom: 24px;
}
.btn-group.btn-center .btn {
  min-width: 100px;
  height: 36px;
  line-height: 35px;
  font-size: 16px;
  font-size: 1rem;
}
.btn-group.btn-center .btn:nth-child(n) {
  margin-right: 10px;
}
.btn-group.btn-center .btn:last-child {
  margin-right: 0;
}
.btn-group:nth-last-child(1) {
  margin-bottom: 10px;
  margin-right: 0;
}

.btn-group-pop {
  clear: both;
  text-align: center;
}
.btn-group-pop .btn {
  width: 100%;
  height: 60px;
  font-size: 18px;
  font-size: 1.125rem;
  letter-spacing: -0.45px;
  margin-bottom: 15px;
}
.btn-group-pop .btn.disabled:hover,
.btn-group-pop .btn.disabled:focus {
  background-color: #fff;
  border: 1px solid #ededed;
  color: #ccc;
  cursor: default;
  outline-width: medium;
}
.btn-group-pop.splits-02 .btn {
  width: 225px;
  margin-right: 5px;
}
.btn-group-pop.splits-02 .btn:nth-child(2n) {
  margin-right: 0;
}

a.btn-link {
  border: 0;
  text-decoration: underline;
  text-decoration-color: #26a69a;
  color: #26a69a;
  background-color: transparent;
}

/* layout */
.waves-effect {
  position: relative;
  z-index: 1;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  vertical-align: middle;
  -webkit-transition: 0.3s ease-out;
  -moz-transition: 0.3s ease-out;
  -ms-transition: 0.3s ease-out;
  -o-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}

#skipNav {
  position: relative;
  z-index: 9999;
}
#skipNav > a {
  position: absolute;
  top: -80px;
  left: 0;
  width: 193px;
  height: 80px;
  background: #444;
  font-size: 15px;
  font-size: 0.9375rem;
  text-align: center;
  line-height: 80px;
  color: #fff;
}
#skipNav > a:focus, #skipNav > a:active {
  top: 0;
  left: 339px;
  -webkit-transition: top 0.1s ease-in;
  -moz-transition: top 0.1s ease-in;
  -ms-transition: top 0.1s ease-in;
  -o-transition: top 0.1s ease-in;
  transition: top 0.1s ease-in;
}

main *::-moz-selection {
  background-color: #ff774e;
  color: #ffffff;
}
main ::selection,
main input[type=radio] + label::selection,
main input[type=checkbox] + label::selection {
  background-color: #ff774e;
  color: #fff;
}

.hidden {
  position: absolute;
  top: auto;
  left: -10000px;
  display: block;
  width: 0;
  height: 1px;
  overflow: hidden;
  text-indent: -9000px;
}

/* ie9 대응 */
html[data-useragent*="MSIE 9.0"] {
  /* select */
  /* label */
  /* 파일첨부 */
}
html[data-useragent*="MSIE 9.0"] select {
  padding: 0 0 0 20px;
  background: #fff;
}
html[data-useragent*="MSIE 9.0"] .input-label-group .label-holder {
  display: block;
  line-height: 3.6;
}
html[data-useragent*="MSIE 9.0"] .input-label-group .label-holder.input-m {
  display: block;
  line-height: 45px;
}
html[data-useragent*="MSIE 9.0"] .input-label-group .label-holder.label-off {
  display: none;
}
html[data-useragent*="MSIE 9.0"] .file-box > .label-holder {
  font-size: 16px;
  font-size: 1rem;
  line-height: 45px;
}

/* media query */

/*# sourceMappingURL=template.css.map */
