/* 레디어스 값 */
// @include border-radius(5px);
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  -o-border-radius: $radius;
  border-radius: $radius;
}

/* 투명도 */
// @include opacity(0.7);
@mixin opacity($opacity) {
  opacity: $opacity;
  filter: alpha(opacity=($opacity * 100));
}

/* 폰트 사이즈 px > rem 변환 */
// @include font-size(16px);
@mixin font-size($size) {
  font-size: $size;
  font-size: ($size / 16px) * 1rem;
}

/* transition */
// @include transition(top .1s ease-in);
@mixin transition($values...) {
  -webkit-transition: $values;
  -moz-transition: $values;
  -ms-transition: $values;
  -o-transition: $values;
  transition: $values;
}

/* transform */
@mixin transform($transforms) {
  -webkit-transform: $transforms;
  -moz-transform: $transforms;
  -ms-transform: $transforms;
  -o-transform: $transforms;
  transform: $transforms;
}

// Translate
// @include translate(0, -10px);
@mixin translate($x, $y) {
  @include transform(translate($x, $y));
}

// Rotate
// @include rotate(90);
@mixin rotate($deg) {
  @include transform(rotate(#{$deg}deg));
}

// Scale
// @include scale(2, 0.5);
@mixin scale($scale) {
  @include transform(scale($scale));
}

/* 그림자 */
// @include box-shadow(4px, 6.9px, 10px, 0, rgba(0, 0, 0, 0.3));
@mixin box-shadow($h: 10px, $v: 10px, $b: 0px, $s: 0px, $c: #000000) {
  -webkit-box-shadow: $h $v $b $s $c;
  -moz-box-shadow: $h $v $b $s $c;
  -ms-box-shadow: $h $v $b $s $c;
  -o-box-shadow: $h $v $b $s $c;
  box-shadow: $h $v $b $s $c;
}

/* 세로 가운데 정렬 */
// @include vertical-align();
@mixin vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* 말줄임 */
//@include ellipsis(100px);
@mixin ellipsis($width) {
  width: $width;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  vertical-align: middle;
}

/* position */
// @include position($b: 0, $l: 0, $z: 0);
@mixin position($p: absolute, $t: null, $b: null, $l: null, $r: null, $z: null) {
  position: $p;
  top: $t;
  bottom: $b;
  left: $l;
  right: $r;
  z-index: $z;
}

/* 백그라운드 설정 */
// @include background(100%, 100%, url('/images/a.png') no-repeat center/cover);
@mixin background($width, $height, $values...) {
  width: $width;
  height: $height;
  background: $values;
}

/* 미디어쿼리 분기점 설정 */
// @include break-point(mobile) {
//  margin:2em;
// }
@mixin break-point($point) {
  @if $point == large {
    @media only screen and (min-width: 2560px) {
      @content;
    }
  } @else if $point == ipad-pro {
    @media only screen and (max-width: 1366px) {
      @content;
    }
  } @else if $point == tablet {
    @media only screen and (max-width: 1280px) {
      @content;
    }
  } @else if $point == tablet-s {
    @media only screen and (max-width: 992px) {
      @content;
    }
  } @else if $point == mobile {
    @media only screen and (max-width: 768px) {
      @content;
    }
  } @else if $point == mobile-m {
    @media only screen and (max-width: 576px) {
      @content;
    }
  } @else if $point == mobile-s {
    @media only screen and (max-width: 360px) {
      @content;
    }
  } @else if $point == mobile-old {
    @media only screen and (max-width: 320px) {
      @content;
    }
  } @else if $point == fold {
    @media only screen and (min-width: 535px) and (max-width: 683px) and (orientation: portrait) {
      @content;
    }
  }
}
