// font
$font-en: "Roboto", sans-serif;
$font-ko: "Noto Sans KR", "NotoSansKR", "mulgun gothic", Dotum, sans-serif;
$font-awesome: 'Font Awesome 5 Pro';

// 기기별 기본 좌우 패딩 선언
$tab-lr-padding: 32px;
$mobile-lr-padding: 16px;

// 서브페이지 kv영역 높이값
$large-kv-height: 1000px;
$tab-kv-height: 720px;
$mobile-kv-height: 512px;

// color
$solid-colors: (
  // finiview custom primary-pink
  "pink": #dd2770,
  "gray": #2d2d33,
  "black": #202020,
  "orange": #fa6e44
);

$pink: map-get($solid-colors, "pink") !default;
$gray: map-get($solid-colors, "gray") !default;
$black: map-get($solid-colors, "black") !default;
$orange: map-get($solid-colors, "orange") !default;

$white: #fff !default;
$primary: $orange !default; // custom primary-pink

$gray-100: #f8f9fa !default;
$gray-200: #eee !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #bbb !default;
$gray-600: lighten(desaturate($gray-500, 40), 8%) !default;
$gray-700: darken(desaturate($gray-500, 40), 20%) !default;
$gray-800: darken(desaturate($gray-500, 40), 32%) !default;
$orange-400: lighten(saturate($orange, 5), 3%) !default;

$secondary: $orange-400 !default;
$light: $gray-500 !default;
$background: $white !default;
