@charset "UTF-8";
@import "./variables";
@import "./mixins";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  //padding: 50px;
  @include font-size(14px);
  font-family: $font-en;
  background: #fff;
}

#skipNav {
  @include position(relative, $z: 999);
  //position: relative; z-index: 9999;

  a {
    @include position($t: -80px, $l: 0);
    @include font-size(15px);
    @include background(193px, 80px, #444);
    text-align: center;
    line-height: 80px;
    color: #fff;
  }

  a:focus,
  a:active {
    top: 0;
    left: 339px;
    @include transition(top .1s ease-in);
  }
}

