@import "./layout";

.scroll-hidden {
  @include opacity(0);
}

.section-01 {
  position: relative;

  .img-wrap {
    @include position(relative, $z:1);
    width: 100%;
    height: 100vh;
    overflow: hidden;

    .img-code {
      @include position($t: 0, $l: 0);
      @include background(100%, 100%, url('/images/scrollTransform/bg.jpg') no-repeat top/cover);
      transition: opacity .1s cubic-bezier(0, 0, .2, 1);
    }
  }

  .bg-wrap {
    @include position($t: 0, $l: 0, $z: 10);
    width: 100%;
    height: 100vh;

    .page-title {
      @include position($t: 50%, $l: 50%, $z: 5);
      width: 100%;
      max-width: 1060px;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      transition: opacity .3s cubic-bezier(0, 0, .2, 1);
      color: #fff;

      h1 {
        @include font-size(55px);
        margin-bottom: 12px;

      }

      h2 {
        @include font-size(32px);
      }

      p {
        @include font-size(18px);
        margin-top: 8px;
      }
    }

    .flex-box {
      @include position(relative, $z: 1);
      display: flex;
      justify-content: center;
      align-items: center;
      //overflow: hidden;
    }

    .bg-monitor {
      @include background(100%, 100vh, url('/images/scrollTransform/scrollTransform.png') no-repeat center/cover);
      transition: opacity .1s cubic-bezier(0, 0, .2, 1);
      transform-origin: 80% 50%;

      &:before {
        content: "";
        @include position($t: 0, $l: 0,);
        @include background(calc(50% - 78vh), 100%, #141922);
      }

      &:after {
        content: "";
        @include position($t: 0, $r:0);
        @include background(calc(50% - 78vh), 100%, #141922);
      }
    }

    &:after {
      content: "";
      @include position($b: 0, $l: 0, $z: 0);
      @include background(100%, 120px, linear-gradient(180deg, hsla(0, 0%, 100%, 0), #fff 73.33%));
    }
  }
}

.section-02 {
  position: relative;
  width: 100%;
  height: 1000px;
  overflow: hidden;

  h2 {
    @include font-size(30px);
  }
}