@import "./layout";

/* template */
html, body {
  background: #fff;
}

body {
  font-size: 1em;
  font-family: $font-ko;
}

/* common */
[type="checkbox"],
[type="radio"] {
  padding: 0;
  border: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

[hidden], template {
  display: none;
}

caption, legend {
  overflow: hidden;
  @include position($t: 0, $l:0);
  width: 1px;
  height: 1px;
  @include font-size(0px);
  line-height: 0;
}

a:link, a:visited, a:hover, a:active, a:focus {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}


/* text */
.text-warning {
  color: #ea002c;
}

.color1 {
  color: $primary !important;
}

.color2 {
  color: #222 !important;
}

.color3 {
  color: #666 !important;
}

.text-eng span {
  font-family: $font-en;
}

.text-danger span {
  color: #d22e2e;
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ellipsis.multiline {
  white-space: normal;
}

.roboto, .font-roboto {
  font-family: $font-en;
}

.ele {
  overflow: hidden;
}

.nowrap {
  white-space: nowrap;
}

.weight300 {
  font-weight: 300;
}

.guide-text-13 {
  font-size: 13px;
  color: #666;
  font-weight: normal;
  line-height: 18px;
  letter-spacing: -0.5px;
}

.carrier-name-inquiry .title-label {
  display: block;
  height: 14px;
  margin-top: 40px;
  margin-bottom: 12px;
  color: #666;
  font-size: 14px;
}


/* margin */
.mt10 {
  margin-top: 10px !important;
}

.mt14 {
  margin-top: 14px !important;
}

.mt20 {
  margin-top: 20px !important;
}

.mt35 {
  margin-top: 35px !important;
}

.mt50 {
  margin-top: 50px !important;
}

.mt60 {
  margin-top: 60px !important;
}

.mt70 {
  margin-top: 70px !important;
}

.mt90 {
  margin-top: 90px !important;
}

.ml6 {
  margin-left: 6px !important;
}

.ml7 {
  margin-left: 7px !important;
}

.ml10 {
  margin-left: 10px !important;
}

.ml20 {
  margin-left: 20px !important;
}

.mr0 {
  margin-right: 0 !important;
}

.mr4 {
  margin-right: 4px !important;
}

.mr5 {
  margin-right: 5px !important;
}

.mr10 {
  margin-right: 10px !important;
}

.mr50 {
  margin-right: 50px !important;
}

.mb0 {
  margin-bottom: 0 !important;
}

.mb10 {
  margin-bottom: 10px !important;
}

.pr30 {
  padding-right: 30px !important;
}

.pb0 {
  padding-bottom: 0 !important;
}

.pl8 {
  padding-left: 8px !important;
}

.pl10 {
  padding-left: 10px !important;
}

.pl40 {
  padding-left: 40px !important;
}


/* 분기화면 가이드 */
.remark-guide {
  position: relative;
  border: 4px solid $primary;
  padding: 50px 20px;
  margin: 50px -24px;
  background-color: #fff;
  @include border-radius(2px);

  &:before {
    content: "\f0a1" " " attr(data-title);
    @include position($t: 0, $l:0);
    @include border-radius(0 0 4px 0);
    padding: 2px 10px 6px;
    background-color: $primary;
    font: {
      family: $font-awesome;
      weight: 900;
    };
    color: #fff;
    @include font-size(12px);
  }

  &:after {
    content: "분기화면 가이드";
    @include position($t: 0, $r:0);
    @include border-radius(0 0 0 4px);
    padding: 2px 10px 6px;
    background-color: $primary;
    font: {
      family: $font-awesome;
      weight: 900;
    };
    color: #fff;
    @include font-size(12px);
  }
}

/* placeholder */
::-webkit-input-placeholder {
  color: #ccc;
  letter-spacing: -0.16px;
}

::-moz-placeholder {
  color: #ccc;
  letter-spacing: -0.16px;
}

:-moz-placeholder {
  color: #ccc;
  letter-spacing: -0.16px;
}

:-ms-input-placeholder {
  color: #ccc !important;
  letter-spacing: -0.16px;
}

::-ms-clear {
  display: none;
}

textarea:-ms-input-placeholder {
  color: #ccc !important;
}


/* header */
header {
  @include position(fixed, $t: 0, $z: 1000);
  width: 100%;
  height: 60px;
  min-width: 1280px;

  .bo-logo {
    @include position(fixed, $t: 0, $l: 0, $z: 1000);
    float: left;
    width: 280px;
    height: 60px;
    background-color: #fff;
    text-align: center;
    color: #fff;
    border-right: 1px solid #d5d5d5;
    border-bottom: 1px solid #d5d5d5;
    @include box-shadow(0px, 2px, 3px, 0, rgba(43, 43, 43, 0.3));
    @include transition(0.2s ease-out);
    @include break-point(tablet) {
      width: 213px;
      padding-left: 20px;
    }

    img {
      width: 100px;
      padding-top: 20px;
    }
  }

  .header-wrap {
    margin-left: 280px;
    padding-left: 60px;
    padding-right: 60px;
    background-color: #fff;
    border-bottom: 1px solid #d5d5d5;
    @include transition(0.2s ease-out);
    @include break-point(tablet) {
      margin-left: 213px;
    }

    .btn-toggle-aside {
      float: left;
      line-height: 59px;
      @include font-size(18px);
      margin-right: 20px;

      a {
        color: #999;

        .fa-toggle-on {
          color: $primary;
        }
      }
    }

    .breadcrumbs {
      float: left;

      li {
        float: left;
        @include font-size(14px);
        margin-right: 10px;
        line-height: 58px;
        color: #999;

        i {
          @include font-size(18px);
          margin-right: 4px;
          color: #FFD54F;
        }

        &:after {
          content: "/";
          display: inline-block;
          margin-left: 10px;
          @include font-size(12px);
        }

        &:last-child:after {
          content: "";
        }

        a {
          color: #666;
        }
      }
    }

    .my-profile {
      float: right;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 59px;

      .circle-profile {
        @include border-radius(50%);
        overflow: hidden;
        width: 40px;
        height: 40px;

        img {
          width: 100%;
          padding: 0;
        }
      }
    }

    &:after {
      content: "";
      display: block;
      clear: both;
    }
  }
}

.main-expanded header .bo-logo {
  box-shadow: none;
}

/* aside */
aside {
  @include position(fixed, $t: 60px, $l: 0, $z: 1000);
  float: left;
  margin: 0;
  @include background(280px, calc(100% - 60px), #fff);
  border-right: 1px solid #d5d5d5;
  @include box-shadow(0px, 2px, 3px, 0, rgba(43, 43, 43, 0.2));
  @include transition(0.2s ease-out);
  @include break-point(tablet) {
    width: 213px;
    padding-left: 20px;
  }

  .aside-logo {
    display: inline-block;
    width: 109px;
    margin-top: 40px;
    margin-bottom: 32px;

    img {
      width: 100%;
    }
  }

  .lnb-scroll {
    @include position(relative, $z: 1000);
    height: calc(100% - 110px);
    background: #fff;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;

    &::-webkit-scrollbar {
      width: 8px;
      height: 10px;
      border-bottom: 1px solid #fff;
      border-top: 1px solid #fff;
      background: #fff
    }

    &::-webkit-scrollbar-thumb {
      @include border-radius(8px);
      background-color: #dedede;
      border: 0
    }

    &::-webkit-scrollbar-track {
      -webkit-box-shadow: none;
      box-shadow: none;
    }

    .lnb-menu li {
      @include font-size(16px);
      line-height: 27px;
      letter-spacing: -0.4px;
      color: #666;
    }

    .lnb-menu li.lnb-depth-01:first-child {
      margin-top: 0;
    }

    .lnb-menu li.lnb-depth-01 {
      @include font-size(16px);
      font-weight: bold;
      letter-spacing: -0.4px;
      color: #222;
      margin-top: 19px;
    }

    .lnb-menu li.lnb-depth-01.market-divide {
      width: 156px;
      margin-top: 24px;
      padding-top: 24px;
      border-top: 1px solid #e1e1e1;
    }

    .lnb-menu li.lnb-banner {
      margin-top: 28px;
    }

    .lnb-menu li a {
      position: relative;
    }

    .lnb-menu li a:hover,
    .lnb-menu li a.active { /* font-weight: 500; */
      color: #ea002c;
    }

    .lnb-menu li.lnb-depth-01 a:hover {
      font-weight: bold;
      color: #222;
    }

    .lnb-menu li.icon-outlink a:hover:after {
      content: "";
      @include position($t: 5px, $r: -20px);
      @include background(16px, 16px, url('../images/common/icon-outlink.png') no-repeat 0 0);
    }
  }
}

.main-expanded aside {
  left: -280px;
  @include transition(0.2s ease-out);
}

#sectionMenu {
  overflow: auto;

  &,
  .menu-depth-01 {
    width: 100%;
    height: 100%;
  }

  .menu-depth-01 {
    li {
      display: block;
    }

    li > a {
      display: block;
      @include font-size(15px);
      font-weight: 400;
      color: #454545;
      line-height: 50px;
      height: 50px;
      padding: 0 30px;
    }

    li > a:after {
      content: "\f054";
      @include position($r: 16px);
      font: {
        family: $font-awesome;
        weight: 900;
      };
      @include font-size(13px);
      color: #aaa;
    }

    li:hover > a,
    li:focus > a,
    li.open > a,
    li.active > a {
      /* background-color: #f5f5f5; */
      border-left: 4px solid #ea002c;
      color: #353535;
    }

    li.active > a:after,
    li.active > a.active:after {
      content: "\f078";
      color: #454545;
    }

    li > a.open:after {
      content: "\f078";
      color: #454545;
    }
  }

  .submenu {
    display: block;
    overflow: hidden;
    @include transition(0.2s ease-out);
    background-color: #f9f9f9;
  }

  .menu-depth-01 > li.active .menu-depth-02 {
    display: block;
  }

  .menu-depth-02 {
    display: none;
    padding: 20px 43px;

    li a {
      @include font-size(14px);
      line-height: 34px;
      color: #666;

      &.active {
        font-weight: 500;
        color: #ea002c;
      }
    }
  }
}

/* section */
#mainWrap {
  @include position(relative, $t: 60px, $r: 0);
  float: unset;
  min-width: 1260px;
  /* height: 100%; */
  padding-left: 280px;
  @include transition(0.2s ease-out);
  /* background-color: #f3f7fb; */
}

.main-expanded #mainWrap {
  padding-left: 0;
  @include transition(0.2s ease-out);
}

.container-section {
  padding: 30px 60px 60px;
}

h1.main-title {
  font: {
    size: 3.2rem;
    weight: 100;
  };
  color: #454545;
  text-align: center;
  margin: 0.67em 0;
}

main .section.scroll-item { /* padding-left: 100px; */
  border-bottom: 1px solid #d5d5d5;
  padding-top: 88px;
}

main section article {
  margin-bottom: 2em; /* max-width: 93%; */
}

main section .article-note {
  width: 100%;
  border: 1px solid #d5d5d5;
  border-left: 5px solid $secondary;
  padding: 12px 18px 12px 20px;
  margin-bottom: 16px;
  @include border-radius(0 2px 2px 0);
  color: #555;
  font-weight: 300;
  line-height: 30px;
  list-style: none;

  a:hover {
    color: $primary;
  }

  a .fas {
    @include font-size(10px);
    color: #666;
    margin-right: 4px;
  }
}

main section .article-desc {
  @include font-size(14px);
  color: #666;
  font-weight: 400;
  line-height: 28px; /* padding-left: 20px; */
  list-style: disc;
}

main h2 {
  font: {
    size: 2.92rem;
    weight: 100;
  };
  color: $primary; /* margin: 0.83em 0; */
  margin-bottom: 0.83em;
}

main h3 {
  font: {
    size: 1.42rem;
    weight: 300;
  };
  color: #454545;
  margin: 1.2em 0 0.6em;
}

section.section .article-desc strong {
  color: #555;
}

section.section .article-desc code {
  background-color: #f9f2f4;
  color: #c7254e;
  padding: 2px 4px;
  @include border-radius(4px);
  font-size: 90%;
}

.example {
  margin-top: 10px;

  p {
    margin: 4px 0;
  }
}

.hljs {
  padding: 0.2em 1em;
  @include border-radius(2px);
}


.cut-down {
  position: relative;
  display: inline-block;
  width: calc(930px + 20px);
  margin-left: 77px;
  padding-right: 20px;
  overflow: hidden;

  .section-title-desc-main {
    padding-bottom: 7px;
  }

  .bx-wrapper {
    margin-top: -30px;
    margin-bottom: 0;
    border: none;
    width: calc(100% + 20px);
    max-width: 950px !important;

    .bx-viewport {
      padding-top: 20px;
      padding-right: 20px;
    }

    .bx-prev:hover,
    .bx-prev:focus,
    .bx-next:hover,
    .bx-next:focus {
      background-position: center;
    }
  }

  .bx-controls-direction {
    @include position($t: -35px, $r: 20px);

    & > a {
      display: block;
      float: left;
      width: 35px;
      height: 35px;
      text-indent: -9999px;
      border: 1px solid #bcbcbc;
    }

    & > a + a {
      margin-left: -1px;
    }

    & > .bx-prev {
      background: url('../images/common/swiper-left-on.png') no-repeat center center;
    }

    & > .bx-next {
      background: url('../images/common/swiper-right-on.png') no-repeat center center;
    }

    & > .disabled {
      @include opacity(0.35);
    }
  }

  .cut-down-slider-cont {
    a {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 296px;
      height: 280px;
      text-align: center;
      background-size: cover;
      color: #666;

      &:hover {
        @include box-shadow(6px 6px 10px 0 rgba(0, 0, 0, 0.12));
        @include translate(0, -10px);
        @include transition(0.3s);
      }

      &:hover .ban-title:after {
        content: "";
        @include position();
        width: 100%;
        display: block;
        padding-bottom: 1px;
        border-bottom: 1px solid #222;
      }

      .ban-title {
        position: relative;
        display: inline-block;
        padding-top: 180px;
        @include font-size(22px);
        letter-spacing: -0.55px;
        color: #222;
        font-weight: bold;
      }

      .ban-desc {
        display: block;
        padding-top: 12px;
        @include font-size(14px);
        letter-spacing: -0.35px;
        color: #767676;
        font-weight: 300;
        width: 210px;
        height: 56px;
        line-height: 21px;
        margin: auto;
        overflow: hidden;
      }
    }
  }
}


/* 스크롤 탑 버튼 */
.scroll-top {
  @include position(fixed, $b:30px, $l: auto, $r: 30px);
  width: 60px;
  height: 60px;
  text-align: center;
  border: 1px solid #d5d5d5;
  background-color: #fff;
  @include border-radius(4px);
  line-height: 59px;

  a {
    display: inline-block;
    width: 100%;
    color: $primary;
  }
}

.example-wrap {
  width: 100%;
  height: 200px;
  @include border-radius(5px);
  border: 1px solid #e5e5e5;
  padding: 20px 0 20px 20px;
  line-height: 24px;
  overflow-y: auto;
}

.example-ele {
  width: 140px;
  overflow: hidden;
  @include font-size(20px);

  li {
    border: 1px solid #e5e5e5;
    padding: 10px;
    @include font-size(16px);
    line-height: 22px;

    & + li {
      margin-top: 20px;
    }
  }
}

.login-container {
  width: 460px;
  height: 100%;
  margin: auto;
}

/* checkbox */
input[type=checkbox] {
  &:not(old) {
    margin: 0;
    padding: 0;
    @include opacity(0);
    @include background(0, 0, url("../images/common/chk-not-old.png") no-repeat 0 0);
  }

  &:not(old) + label {
    position: relative;
    display: inline-block;
    margin-left: -3px;
    text-align: left; /* height: 20px; */
    padding-left: 35px;
    line-height: 120%;
    vertical-align: middle;
    cursor: pointer;
    @include font-size(16px);
    letter-spacing: -0.4px;
    color: #222;
    outline: none;
  }

  &:not(old) + label:after {
    content: "";
    @include position($t: 0, $l:0);
    @include background(20px, 20px, url("../images/common/chk-not-old.png") no-repeat 0 0);
    display: inline-block;
  }

  &:not(old) + label.single:after {
    content: "";
    @include position(static, $t: 0, $l: 0);
    @include background(20px, 20px, url("../images/common/chk-not-old.png") no-repeat 0 0);
    display: inline-block;
  }

  &:not(old) + label.label-only {
    text-indent: -9999px;
    @include font-size(0px);
    height: 22px;
    color: transparent;
    padding-left: 20px;
  }

  &:not(old) + label:hover:after,
  &:not(old) + label:active:after,
  &:not(old) + label:focus:after {
    background: url("../images/common/checkbox-h.png") no-repeat 0 0;
    outline: none;
  }

  &:not(old) + label::selection {
    background: transparent;
  }

  &:not(old) + label:nth-child(n) {
    margin-right: 20px;
  }

  &:not(old) + label:last-child {
    margin-right: 0;
  }

  &:not(old) + label.empty-label {
    padding-left: 18px;
  }

  &:not(old) + label.single {
    width: 18px;
    padding: 0;
  }

  &:not(old):focus + label:after {
    background: url("../images/common/checkbox-h.png") no-repeat 0 0;
    outline: none;
  }

  &:not(old):checked + label:after {
    background: url("../images/common/chk-not-old-checked.png") no-repeat 0 0;
  }

  &:focus + label:after {
    outline: auto -webkit-focus-ring-color; /* outline-color: #87cefa; */
  }
}


/* radio */
input[type=radio] {
  &:not(old) {
    margin: 0;
    padding: 0;
    @include opacity(0);
    @include background(0, 0, url("../images/common/radio-not-old.png") no-repeat 0 0);
  }

  &:not(old) + label {
    position: relative;
    display: inline-block;
    margin-left: -3px;
    text-align: left; /* height: 20px; */
    padding-left: 35px;
    line-height: 130%;
    vertical-align: middle;
    cursor: pointer;
    @include font-size(16px);
    letter-spacing: -0.4px;
    color: #222;
    outline: none;
  }

  &:not(old) + label:after {
    content: "";
    @include position($t: 0, $l: 0);
    @include background(20px, 20px, url("../images/common/radio-not-old.png") no-repeat 0 0);
    display: inline-block;
  }

  &:not(old) + label:hover:after,
  &:not(old) + label:active:after,
  &:not(old) + label:focus:after,
  &:not(old):focus + label:after {
    background: url("../images/common/radiobox-h.png") no-repeat 0 0;
    outline: none;
  }

  &:not(old):checked + label:after {
    background: url("../images/common/radio-not-old-checked.png") no-repeat 0 0;
  }

  &:not(old) + label::selection {
    background: transparent;
  }

  &:focus + label:after {
    outline: auto -webkit-focus-ring-color; /* outline-color: #87cefa; */
  }

  &:not(old) + label:nth-child(n) {
    margin-right: 40px;
  }

  &:last-child:not(old) + label,
  &:not(old) + label:last-child {
    margin-right: 0;
  }

  &:not(old) + label.single {
    width: 18px;
    padding: 0;
  }

}


/* select */
select {
  height: 60px;
  @include font-size(16px);
  color: #ccc;
  cursor: pointer;
  padding: 18px 46px 18px 20px;
  border: 1px solid #e5e5e5;
  @include border-radius(5px);
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: transparent url("../images/common/img-select.png") 95% 53% no-repeat;
  margin-right: 4px;
  min-width: 120px;

  &:hover,
  &:focus {
    border: 1px solid #222;
    @include opacity(1);
    @include transition(0.5s);
    outline: 0;
  }

  &.select-temp {
    width: 100%;
  }

  &:nth-last-child(1) {
    margin-right: 0;
  }

  &.select-xs {
    min-width: 80px;
  }

  &.select-box-s {
    min-width: 170px;
    height: 32px;
    padding: 0 20px;
    vertical-align: top;
    @include font-size(13px);
    color: #9b9b9b;
    background: url("../images/common/icon-select.png") right 12px center no-repeat;
  }

  &.select-box-s + .input-label-group {
    vertical-align: top;
  }

  &.select-box-m {
    padding: 0 56px 0 20px;
    @include background(100%, 45px, url("../images/common/img-select.png") right 16px center no-repeat);
  }

  /* IE 10, 11의 네이티브 화살표 숨기기 */
  &::-ms-expand {
    display: none;
  }

  &.disabled,
  &:disabled,
  &.disabled + .select-box-current,
  &:disabled + .select-box-current,
  &.disabled + .select-box-current.disabled,
  &:disabled + .select-box-current.disabled {
    cursor: default;
    color: #ccc;
    background-color: #f5f5f5;
    border: 1px solid #e5e5e5;
  }

  &.disabled:hover,
  &.disabled:focus,
  &:disabled:hover,
  &:disabled:focus {
    border-color: #e5e5e5;
  }

  &.disabled:focus + .select-box-current.disabled,
  &:disabled:focus + .select-box-current.disabled {
    border-color: #e5e5e5;
  }

  &:focus + .select-box-current.disabled {
    border-color: #e5e5e5;
  }

  &.disabled + .select-box-current:hover {
    border-color: #e5e5e5
  }

  &:disabled + .select-box-current:hover {
    border-color: #e5e5e5
  }

  &:focus + .select-box-current {
    border: 1px solid #222;
    @include opacity(1);
    @include transition(0.5s);
  }
}


/* selectbox-Custom */
.select-box {
  @include position(relative, $z: 1);
  display: inline-block;
  vertical-align: top;

  &.on {
    z-index: 10;
  }

  & > .select-box-current {
    @include position($t: 0, $l: 0);
    width: 100%;
    display: block;
    background: #fff; /* transition: 0.2s; */
    white-space: nowrap;
  }

  & > .select-box-current .inner {
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  & > .select-box-current.on + .select-box-list {
    display: block;
  }

  &.brd-none {
    width: auto;
    min-width: 240px;
    max-width: 500px;
  }

  &.brd-none > select {
    display: none;
  }

  &.brd-none.select-size-m > .select-box-current:hover,
  &.brd-none select:focus + .select-box-current {
    border: none;
  }

  &.brd-none.select-size-m > .select-box-current.on {
    border: none;
  }

  &.brd-none .select-box-current {
    padding: 0 40px 0 0;
    border: none;
    font-weight: 300;
    @include font-size(20px);
  }

  &.brd-none.select-size-m > .select-box-current {
    position: static;
  }

  &.brd-none.select-size-m > .select-box-current:after {
    right: 0;
  }

  &.brd-none.select-size-m .select-box-list {
    top: 34px;
  }

  select:disabled + .select-box-current.on {
    color: #ccc;
    border: 1px solid #e5e5e5;
  }

  select:disabled + .select-box-current.on:after {
    background: url('../images/common/img-select.png') no-repeat;
  }

  & > select:disabled + .select-box-current + .select-box-list {
    display: none;
  }

  & > select.disabled + .select-box-current + .select-box-list {
    display: none;
  }

  & > select:disabled + .select-box-current.disabled + .select-box-list {
    display: none;
  }

  & > select.disabled + .select-box-current.disabled + .select-box-list {
    display: none;
  }
}

.select-box-list {
  @include position($l: 0);
  display: none;
  width: 100%;
  border: 1px solid #000;
  background: #fff;
  @include border-radius(5px);

  li {
    position: relative;
    font-weight: 400;
    color: #666;
    letter-spacing: -0.4px;
    cursor: pointer;
  }

  li:hover {
    color: #000;
    background: #ededed;
  }
}


/* select-size-lg */
.select-size-lg {
  & > .select-box-current {
    padding: 17px 64px 17px 20px;
    font-weight: 400;
    @include font-size(16px);
    color: #222;
    line-height: 24px;
    letter-spacing: -0.4px;
    border: 1px solid #e5e5e5;
    @include border-radius(5px);
    cursor: pointer;
  }

  & > .select-box-current:after {
    content: '';
    @include position($t: 50%, $r: 21px);
    @include background(24px, 13px, url('../images/common/img-select.png') no-repeat);
    margin-top: -7px;
  }

  & > .select-box-current.on {
    color: #222;
    border: 1px solid #000;
  }

  & > .select-box-current.on:after {
    background: url('../images/common/img-select-on.png') no-repeat;
  }

  .select-box-list {
    top: 65px;
    max-height: 300px;
    overflow: auto;
  }

  .select-box-list li {
    padding: 18px 30px 18px 20px;
    @include font-size(16px);
    line-height: 24px;
  }

  & > .select-box-current.disabled:hover {
    border-color: #e5e5e5;
  }
}


/* select-size-m */
.select-size-m {
  & > .select-box-current {
    padding: 10px 64px 9px 20px;
    font-weight: 400;
    @include font-size(16px);
    color: #222;
    line-height: 24px;
    letter-spacing: -0.4px;
    border: 1px solid #e5e5e5;
    @include border-radius(5px);
    cursor: pointer;
  }

  & > .select-box-current:after {
    content: '';
    @include position($t: 50%, $r: 21px);
    @include background(24px, 13px, url('../images/common/img-select.png') no-repeat);
    margin-top: -7px;
  }

  & > .select-box-current.on {
    color: #222;
    border: 1px solid #000;
  }

  & > .select-box-current.on:after {
    background: url('../images/common/img-select-on.png') no-repeat;
  }

  .select-box-list {
    top: 50px;
    max-height: 225px;
    overflow: auto;
  }

  .select-box-list li {
    padding: 11px 30px 10px 20px;
    @include font-size(16px);
    line-height: 24px;
  }

  & > .select-box-current.disabled:hover {
    border-color: #e5e5e5;
  }

  & > select.disabled + .select-box-current.on {
    color: #ccc;
    border: 1px solid #e5e5e5;
  }

  & > select:disabled + .select-box-current.on {
    color: #ccc;
    border: 1px solid #e5e5e5;
  }

  & > select.disabled + .select-box-current.on:after {
    background: url('../images/common/img-select.png') no-repeat;
  }

  & > select:disabled + .select-box-current.on:after {
    background: url('../images/common/img-select.png') no-repeat;
  }

  & > .select-box-current:hover {
    border: 1px solid #222;
    @include opacity(1);
    transition: 0.5s;
  }
}


/* select-size-s */
.select-size-s {
  & > .select-box-current {
    padding: 5px 40px 5px 13px;
    font-weight: 400;
    @include font-size(13px);
    color: #222;
    line-height: 20px;
    letter-spacing: -0.4px;
    border: 1px solid #e5e5e5;
    @include border-radius(5px);
    cursor: pointer;
  }

  & > .select-box-current:after {
    content: '';
    @include position($t: 50%, $r: 16px);
    @include background(15px, 9px, url('../images/common/icon-select-s-off.png') no-repeat);
    margin-top: -5px;
  }

  & > .select-box-current.on {
    color: #222;
    border: 1px solid #000;
  }

  & > .select-box-current.on:after {
    background: url('../images/common/icon-select-s-on.png') no-repeat;
  }

  .select-box-list {
    top: 35px;
    max-height: 150px;
    overflow: auto;
  }

  .select-box-list li {
    padding: 5px 40px 5px 13px;
    @include font-size(13px);
    line-height: 20px;
  }

  & > .select-box-current.disabled:hover {
    border-color: #e5e5e5;
  }
}


/* scrollbar Custom */
#sectionMenu .mCSB_scrollTools,
#mainWrap .mCSB_scrollTools,
.modal .mCSB_scrollTools {
  width: 5px;
  right: 10px;
  @include opacity(1);
}

#sectionMenu .mCSB_inside > .mCSB_container,
#mainWrap .mCSB_inside > .mCSB_container,
.modal .mCSB_inside > .mCSB_container {
  margin-right: 0;
}

#sectionMenu .mCS-dark.mCSB_scrollTools .mCSB_draggerRail,
#mainWrap .mCS-dark.mCSB_scrollTools .mCSB_draggerRail,
.modal .mCS-dark.mCSB_scrollTools .mCSB_draggerRail {
  background-color: transparent;
}

#sectionMenu .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
#mainWrap .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
.modal .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  width: 5px;
  @include border-radius(25px);
}

#sectionMenu .mCS-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
#sectionMenu .mCS-dark.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar,
#mainWrap .mCS-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
#mainWrap .mCS-dark.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar,
.modal .mCS-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
.modal .mCS-dark.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar {
  background-color: rgba(51, 51, 51, 0.2) !important;
}


/* input */
input {
  font-family: $font-ko;

  &[type=text]::-ms-reveal,
  &[type=text]::-ms-clear,
  &[type=password]::-ms-reveal,
  &[type=password]::-ms-clear {
    display: none;
  }

  &[type=text] {
    height: 30px;
    @include font-size(16px);
    color: #222;
    border: 1px solid #e5e5e5;
    padding: 4px 20px;
    @include border-radius(2px);
    margin-right: 4px;
  }

  &[type=text]:nth-last-child(1) {
    margin-right: 0;
  }

  &[type=text]:disabled, input[type=password]:disabled, textarea:disabled,
  &[type=text]:read-only, input[type=password]:read-only, textarea:read-only {
    background: #f5f5f5;
    color: #999;
    cursor: default;
    border: 1px solid #e5e5e5 !important;
  }

  &[type=text].input-mail {
    margin-right: 0;
  }

  &[type=text].input-m {
    height: 45px;
    line-height: 45px;
    border: 1px solid #e5e5e5;
    @include border-radius(5px);
    padding-right: 20px;
  }

  &[type=text].post-search-input {
    width: 220px;
    height: 32px;
    border: 1px solid #e5e5e5;
    @include font-size(13px);
    color: #9b9b9b;
    padding: 0 30px 0 13px;
    line-height: 32px;
    @include border-radius(5px);
    margin-right: 0;
  }

  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus,
  &:-webkit-autofill:active {
    @include transition(background-color 5000s ease-in-out 0s);
    -webkit-box-shadow: 0 0 0 1000px white inset !important;
    box-shadow: 0 0 0 1000px white inset !important;
  }
}

.input-full {
  width: 100%;
}

textarea {
  width: 100%;
  @include border-radius(5px);
  border: 1px solid #e5e5e5;
  resize: none;
  font-family: inherit;
  color: #222;
  @include font-size(16px);
  padding: 20px;

  &.textarea-badge {
    margin-top: 6px;
    margin-bottom: 6px;
  }

  &:hover,
  &:focus {
    border: 1px solid #222;
    @include opacity(1);
    @include transition(0.5s);
    outline: none;
  }
}


/* input-label-group */
.input-label-group {
  position: relative;
  width: 100%;
  margin-bottom: 10px;

  &.inline-group {
    display: inline-block;
    width: auto;
  }

  &:last-child {
    margin-bottom: 0;
  }

  .label-holder {
    display: none;
    @include position($t: 0, $l: 21px);
    letter-spacing: -0.16px;
    color: #ccc;
    line-height: 60px;

    &.label-off {
      display: none;
    }
  }

  input {
    width: 100%;
    height: 60px;
    line-height: 60px;
    border: 1px solid #e5e5e5;
    padding: 0 90px 0 20px;
    @include border-radius(5px);
    @include font-size(16px);
    color: #222;
    letter-spacing: -0.16px;

    &:hover {
      border: 1px solid #222;
      @include opacity(1);
      @include transition(0.5s);
    }

    &:focus,
    &:active {
      border: 1px solid #222;
      outline: 0;
      @include opacity(1);
      @include transition(0.5s);
    }

    &:focus + .input-side .btn-input-del,
    &:active + .input-side .btn-input-del {
      @include opacity(1);
      @include transition(0.5s);
      margin-right: 10px;
      text-indent: -9999px;
      overflow: hidden;
    }

    &:focus + .input-side .btn-input-del:last-child,
    &:active + .input-side .btn-input-del:last-child {
      margin-right: 0;
    }

    &.input-error {
      border: 1px solid #f86253;
    }

    &.input-pass + .input-side .btn-input-del {
      margin-right: 10px;
    }
  }

  .input-side {
    @include position($t: 0, $r: 20px);
    @include opacity(1);
    @include transition(0.5s);
    line-height: 60px;

    &.small-side {
      @include position($t: 0, $r: 13px);
      @include opacity(1);
      @include transition(0.5s);
      line-height: 30px;

      .btn-search-icon {
        display: inline-block;
        vertical-align: middle;
        @include background(14px, 13px, url(../images/common/icon-search-small.png) no-repeat);
      }
    }

    .btn-input-del {
      display: inline-block;
      @include opacity(0);
      @include background(16px, 15px, url('../images/common/img-form-delete.png'));
    }

    .success {
      display: inline-block;
      @include background(18px, 13px, url('../images/common/img-form-right.png'));
    }

    .error {
      display: inline-block;
      @include background(11px, 16px, url('../images/common/img-form-error.png'));
    }

    .btn-mask {
      display: inline-block;
      @include background(26px, 16px, url('../images/common/img-security-on.png'));
      overflow: hidden;
      text-indent: -9999px;
    }

    .btn-mask.on {
      display: inline-block;
      @include background(26px, 18px, url('../images/common/img-security-off.png'));
    }

    .attention-msg {
      @include font-size(16px);
      letter-spacing: -0.16px;
      color: #f76252;
    }

    .btn-search-icon {
      display: inline-block;
      @include background(29px, 28px, url('../images/common/icon-search.png'));
      @include font-size(0px);
    }

    .del-icon {
      display: inline-block;
      @include background(24px, 24px, url('../images/common/btn-del-icon.png'));
      @include font-size(0px);
      margin-right: 15px;
      margin-bottom: 3px;
    }
  }

  .desc-error {
    display: block;
    @include font-size(14px);
    color: #d22e2e;
    margin-top: 10px;
    margin-bottom: 20px;
  }

  &.size-m {
    display: inline-block;
    width: inherit;
    margin-bottom: 0;

    input {
      width: inherit;
      line-height: 45px;
      padding-right: 20px;
    }

    .label-holder {
      line-height: 45px;
    }

    .input-side {
      line-height: 45px;
    }
  }
}


/* input-button-group */
.input-button-group {
  &.size-m {
    text-align: left;

    .btn-input-add {
      width: 100px;
      height: 45px;
      line-height: 45px;
    }

    input {
      @include border-radius(5px 0 0 5px);
    }

    .btn-calendar-add {
      @include position($t: 0, $r: 0);
      @include background(63px, 45px, #ededed url('../images/common/icon-date.png') no-repeat center);
      @include border-radius(0 5px 5px 0);
      @include font-size(16px);
      line-height: 45px;
      text-align: center;
      color: #666;
      letter-spacing: -0.16px;
    }
  }

  input:focus + .btn-calendar-add,
  input:hover + .btn-calendar-add,
  input + .btn-calendar-add:focus,
  input + .btn-calendar-add:hover {
    background: #333 url('../images/common/icon-date-hover.png') no-repeat center;
    color: #fff;
    @include opacity(1);
    @include transition(0.5s);
  }

  input {
    width: 360px;
    @include border-radius(5px 0 0 5px);
    border-right: 0;
  }

  input:focus,
  input:hover,
  input:active {
    border-right: 0;
  }

  input:focus + .btn-input-add,
  input:hover + .btn-input-add,
  input + .btn-input-add:focus,
  input + .btn-input-add:hover {
    background-color: #333;
    color: #fff;
    @include opacity(1);
    @include transition(0.5s);
  }

  input:disabled,
  input.disabled {
    background-color: #fafafa;
    border: 1px solid #e5e5e5;
    color: #ccc;
    border-right: 0;
    cursor: default;
  }

  input:disabled + .btn-input-add,
  input:disabled + .btn-input-add:hover,
  input:disabled + .btn-input-add:focus,
  input.disabled + .btn-input-add,
  input.disabled + .btn-input-add:hover,
  input.disabled + .btn-input-add:focus {
    background-color: #ededed;
    color: #666;
    cursor: default;
  }

  .btn-input-add {
    @include position($t: 0, $r: 0);
    @include background(100px, 60px, #ededed);
    @include border-radius(0 5px 5px 0);
    @include font-size(16px);
    line-height: 60px;
    text-align: center;
    color: #666;
    letter-spacing: -0.16px;
  }
}


/* 파일첨부 */
.file-box {
  @include font-size(0px);

  .file-name {
    display: inline-block;
    @include background(360px, 45px, #fff !important);
    padding: 0 20px;
    margin-right: 0;
    vertical-align: middle;
    @include border-radius(5px 0 0 5px);
    border: 1px solid #e5e5e5;
    border-right: none;
    @include font-size(16px);
    font-weight: 400;
    line-height: 45px;
  }

  .btn-file {
    display: inline-block;
    @include background(100px, 45px, #e5e5e5);
    font-weight: 400;
    @include font-size(16px);
    line-height: 45px;
    text-align: center;
    vertical-align: middle;
    @include border-radius(0 5px 5px 0);
    border: 1px solid #e5e5e5;
    border-left: none;
  }

  .btn-file:hover {
    cursor: pointer;
  }

  .btn-file.disabled {
    color: #bbb;
  }

  input[type="file"] {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
  }

  & + .file-add-list {
    margin-top: 25px;
  }
}

.file-box-caution-note {
  display: block;
  margin-top: 10px;
  font-weight: 400;
  @include font-size(13px);
  color: #666;
}

.add-file-name {
  display: inline-block;
  margin-right: 6px;
  font-weight: 400;
  @include font-size(14px);
  color: #222;
  vertical-align: top;
}

.file-remove {
  @include position(relative, $t: 1);
  display: inline-block;
  @include background(11px, 12px, url('../images/common/icon-file-delete.png') no-repeat 0 0);
  padding: 0;
  overflow: hidden;
  text-indent: -9999px;
  text-align: left;
  border: none;
  cursor: pointer;
  vertical-align: top;
}

.file-add-list + .file-add-list {
  margin-top: 15px;
}

.file-add-list:hover .add-file-name {
  text-decoration: underline;
}

.file-add-list:hover .file-remove {
  background-position: 0 -12px;
}


/* table common */
table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: fixed;

  th.al-left,
  td.al-left {
    text-align: left;
  }

  td.al-center {
    text-align: center;
  }

  td.al-right {
    text-align: right;
  }

  td .ellipsis {
    display: block;
    font-weight: 400;
    color: #222;
    text-overflow: ellipsis;
  }
}

.essential-disc {
  display: inline-block;
  @include background(5px, 5px, #f76252);
  @include border-radius(50%);
  overflow: hidden;
  text-indent: -9999px;
  text-align: left;
  vertical-align: top;
  margin-top: 2px;
  margin-left: 2px;
}

.table-container {
  border-top: 1px solid #9c9c9c;
  border-bottom: 1px solid #dfdfdf;

  .table-al-center {
    th,
    td {
      text-align: center;
    }

    td.al-left {
      text-align-last: left;
    }
  }

  /* col table */
  .no-head {
    thead {
      display: none;
    }

    tbody > tr:first-child td {
      border-top: 0;
    }
  }

  .table-col {
    thead th {
      height: 60px;
      padding: 10px 0;
      font-weight: normal;
      @include font-size(16px);
      color: #222;
      line-height: normal;
      letter-spacing: -0.4px;
      vertical-align: middle;
    }

    td {
      height: 80px;
      padding: 10px 10px;
      border-top: 1px solid #dfdfdf;
      font-weight: 300;
      @include font-size(18px);
      color: #666;
      vertical-align: middle;
      word-break: break-all;

      &.td-pl0 {
        padding-left: 0;
      }

      &.td-pl-inherit {
        padding: inherit;
      }

      &.date {
        font: {
          family: $font-en;
          weight: 300;
        };
        @include font-size(14px);
      }

      &.result-no {
        padding: 30px 0;
        text-align: center;
        font-weight: 400;
        @include font-size(18px);
        color: #888;
      }
    }

    .import {
      display: inline-block;
      min-width: 65px;
      padding: 0 10px;
      line-height: 30px;
      @include font-size(16px);
      color: #000;
      text-align: center;
      @include border-radius(3px);
      background: #e6e6e6;
    }

    .reply td {
      background: #f6f6f6;
      border-top: none;

      .reply-link {
        position: relative;
        display: inline-block;
        padding-left: 22px;
      }

      .reply-link:before {
        content: '';
        @include position($t: -6px, $l: 0);
        @include background(14px, 23px, url(../images/common/icon-reply.png) no-repeat);
      }
    }

    &.table-preview td {
      height: 60px;

      .ellipsis {
        font-weight: 300;
        color: #000;
      }
    }

    tr.fixed,
    .h60 td {
      height: 60px;
    }

    tr.fixed {
      background-color: #fafafa;
    }

    .complete-use td {
      text-decoration: line-through;
    }
  }

  .table-td-16 td {
    @include font-size(16px);
    letter-spacing: -0.4px;
    color: #666;
    font-weight: normal;
    line-height: 22px;
  }


  /* row table */
  .table-row {
    tr.fixed {
      background-color: #fafafa;
    }

    th {
      height: 60px;
      padding: 18px 0;
      border-bottom: 1px solid #dfdfdf;
      font-weight: normal;
      @include font-size(16px);
      color: #222;
      letter-spacing: -0.4px;
      vertical-align: middle;
      text-align: left;
    }

    td {
      height: 60px;
      padding: 18px 0;
      border-bottom: 1px solid #dfdfdf;
      font-weight: normal;
      @include font-size(16px);
      color: #666;
      letter-spacing: -0.16px;
      vertical-align: middle;
      word-break: break-all;

      strong {
        @include font-size(17px);
        letter-spacing: -0.17px;
        color: #222;
        font-weight: 500;
      }
    }

    tr:last-child th,
    tr:last-child td {
      border-bottom: 0;
    }
  }

  .td-list > li {
    padding-bottom: 10px;

    &:last-child {
      padding-bottom: 0;
    }
  }
}

.list-total-num-wrap {
  height: 32px;
  margin-bottom: 15px;

  .list-add-left {
    float: left;
  }

  .list-add-right {
    float: right;
  }

  .total-num {
    @include font-size(16px);
    letter-spacing: -0.4px;
    color: #666;
    font-weight: 300;
    padding-top: 14px;

    b {
      font: {
        family: $font-en;
        weight: 500;
      };
      color: #222;
      margin-left: 5px;
    }
  }
}


/* static table */
.table-container-static {
  border-top: 1px solid #222;

  table {
    width: 100%;
    table-layout: fixed;

    th {
      height: 55px;
      font-weight: 400;
      @include font-size(16px);
      color: #222;
      letter-spacing: -0.4px;
      vertical-align: middle;
      border-right: 1px solid #ddd;

      &:last-child {
        border-right: none;
      }
    }

    td {
      padding: 20px 0;
      vertical-align: middle;
      border: 1px solid #ddd;
      text-align: center;
      font-weight: 400;
      @include font-size(16px);
      color: #666;
      line-height: 24px;
      letter-spacing: -0.4px;

      small {
        display: block;
        @include font-size(14px);
        line-height: 20px;
      }

      &.al-left {
        padding: 20px;
        text-align: left;
      }
    }

    tr td:first-child {
      border-left: none;
    }

    tr td:last-child {
      border-right: none;
    }
  }

  & + .static-cont-title {
    margin-top: 90px;
  }
}

.heading-text {
  margin-bottom: 20px;
  font-weight: 400;
  @include font-size(16px);
  color: #666;
  letter-spacing: -0.16px;
}


.list-title-wrap {
  overflow: hidden;
  margin-bottom: 15px;

  &.brd-add {
    padding-bottom: 15px;
    margin-bottom: 0;
    border-bottom: 1px solid #9c9c9c;
  }

  .list-add-left {
    float: left;
  }

  .list-add-right {
    float: right;
  }

  .list-add-left.add-state {
    float: none;
    display: inline-block;
    vertical-align: middle;
  }

  .list-title-h3 {
    @include font-size(20px);
    letter-spacing: -0.5px;
    font-weight: normal;
  }

  .list-title-desc {
    @include font-size(16px);
    letter-spacing: -0.4px;
    color: #666;
    font-weight: 300;

    span {
      color: #222;
      font-weight: normal;

      a.link-underline {
        display: inline-block;
        border-bottom: 1px solid #222;
        font-style: normal;
        padding-bottom: 2px;
      }
    }
  }
}


.fieldset-set {
  margin-top: 70px;
}


/* pagenation */
.wrap-pagination {
  clear: both;
  text-align: center;
  margin: 70px 30px 0;

  .pagination {
    @include font-size(0px);

    li {
      display: inline-block;
      margin: 0 2px;
      @include border-radius(2px);
      text-align: center;
      vertical-align: top;
      height: 32px;

      a {
        display: inline-block;
        min-width: 32px;
        color: #888;
        @include font-size(15px);
        padding: 0 3px;
        line-height: 32px;
        text-align: center;

        &:hover {
          color: #000;
        }
      }

      &.active a {
        color: #000;
      }

      .paging-btn {
        @include background(32px, 32px, url('../images/common/sprite-paging-btns.png') no-repeat 0 0);
        overflow: hidden;
        text-indent: -9999px;

        &.paging-btn-first {
          background-position: 0 0;
        }

        &.paging-btn-first:hover {
          background-position: 0 -32px;
        }

        &.paging-btn-first.disabled {
          cursor: default;
        }

        &:hover.paging-btn-first.disabled {
          background-position: 0 0;
        }

        &.paging-btn-prev {
          margin-right: 18px;
          background-position: -32px 0;
        }

        &.paging-btn-prev:hover {
          background-position: -32px -32px;
        }

        &.paging-btn-prev.disabled {
          cursor: default;
        }

        &:hover.paging-btn-prev.disabled {
          background-position: -32px 0;
        }

        &.paging-btn-next {
          margin-left: 18px;
          background-position: -64px 0;
        }

        &.paging-btn-next:hover {
          background-position: -64px -32px;
        }

        &.paging-btn-next.disabled {
          cursor: default;
        }

        &:hover.paging-btn-next.disabled {
          background-position: -64px 0;
        }

        &.paging-btn-last {
          background-position: -96px 0;
        }

        &.paging-btn-last:hover {
          background-position: -96px -32px;
        }

        &.paging-btn-last.disabled {
          cursor: default;
        }

        &:hover.paging-btn-last.disabled {
          background-position: -96px 0;
        }
      }
    }
  }

  & + .btn-group:nth-last-child(1) {
    margin-top: -24px;
    margin-bottom: 10px;
  }
}


/* tab menu */
.wrap-tab {
  .tab {
    width: 100%;
    height: auto;
    margin-bottom: 40px;

    ul {
      padding: 0;
      margin: 0;
      list-style: none;
      height: auto;
      overflow: hidden;

      li {
        float: left;
        padding: 0 40px;
        line-height: 48px;
        text-align: center;
        cursor: pointer;
        @include font-size(16px);
        letter-spacing: -0.16px;
        color: #666;
        background-color: #f7f7f7;
        border: 1px solid #ededed;
        border-right: 0;
        border-bottom: 1px solid #222;

        &:last-child {
          border-right: 1px solid #ededed;
        }

        &.on {
          background-color: #fff;
          color: #222;
          border: 1px solid #222;
          border-bottom: 1px solid #fff;
          @include transition(background .25s linear);
        }

        &.disabled {
          background-color: #f5f5f5;
          color: #999;
          cursor: default;
        }
      }
    }
  }

  .tab-conts.fade {
    visibility: hidden;
    height: 0;

    &.on {
      visibility: visible;
      height: 100%;
      min-height: 338px;
      display: block !important;
    }
  }

  /* tab bg-white */
  .tab.white {
    margin-bottom: 50px;

    ul li {
      @include font-size(16px);
      letter-spacing: -0.48px;
      color: #a2a2a2;
      background-color: #fff;
      border: 1px solid #ededed;
      border-right: 0;
      border-bottom: 1px solid #000;

      &:last-child {
        border-right: 1px solid #ededed;
      }

      &.on {
        background-color: #fff;
        color: #222;
        font-weight: 500;
        border: 1px solid #000;
        border-bottom: 1px solid #fff;
        @include transition(background .25s linear);
      }
    }
  }

  /* tab menu 사이즈 100% */
  .tab.justify {
    width: 100%;
    height: auto;

    ul {
      display: table;
      table-layout: fixed;
      width: 100%;

      li {
        display: table-cell;
        float: none;
        padding: 0 10px;
      }
    }
  }
}


/* modal */
.jquery-modal.blocker {
  z-index: 5000;
  background-color: rgba(0, 0, 0, 0.7);

  div.modal {
    max-width: inherit;
    width: 1000px;
    @include border-radius(0px);
    box-shadow: 0 0 10px #555;
    padding: 0;
    @include position(fixed, $t: 50%, $l: 50%);
    @include translate(-50%, -50%);

    /* modal size */
    &.modal-xs {
      width: 520px;
    }

    &.modal-sm {
      width: 600px;
    }

    &.modal-m {
      width: 850px;
    }

    &.modal-lg {
      width: 1200px;
    }

    .modal-header {
      min-height: 70px;
      padding: 27px 40px 24px 40px;
      border-bottom: 1px solid #d5d5d5;

      .modal-title {
        color: #080808;
        @include font-size(18px);
        font-weight: 500;
        letter-spacing: -0.45px;
      }
    }

    .modal-body {
      position: relative;
      padding: 50px 40px;

      h2.title-article {
        @include font-size(16px);
        font-weight: 500;
        line-height: 34px;
      }

      .text-nomal-16 {
        @include font-size(16px);
        line-height: 24px;
        letter-spacing: -0.8px;
        color: #222;
      }

      .text-nomal-14 {
        @include font-size(14px);
        line-height: 22px;
        letter-spacing: -0.14px;
        color: #666;
      }
    }

    .modal-footer {
      padding: 20px 30px 50px;

      .btn-group-pop {
        margin-top: 0;
        margin-bottom: 0;
        text-align: center;

        .btn {
          margin-bottom: 0;
        }

        &.splits-02 .btn {
          width: 215px;
        }
      }

      .btn-search {
        background-color: $secondary;
      }
    }

    .title-group {
      margin-bottom: -5px;
    }

    a.close-modal {
      top: 24px;
      @include font-size(0px);
      @include background(26px, 25px, url('../images/common/img-close.png'));
    }
  }
}


/* Tooltip */
.tooltip {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: #ccc;
  cursor: help;
  color: #fff;
  font: {
    family: $font-en;
    weight: 500;
  };
  @include border-radius(50%);
  line-height: 22px;
  text-align: center;
  margin-left: 4px;

  .tooltip-text {
    visibility: hidden;
    position: absolute;
    width: 320px;
    background-color: rgba(51, 51, 51, 0.8);
    @include font-size(12px);
    line-height: normal;
    color: #fff;
    text-align: left;
    padding: 19px 20px;
    @include border-radius(3px);
    z-index: 1;
    @include opacity(0);
    @include transition(opacity .6s);
  }

  &:hover,
  &:focus {
    background-color: #222;
    outline: none;
  }

  &:hover .tooltip-text {
    visibility: visible;
    @include opacity(1);
    z-index: 10000;
  }

  .tooltip-top {
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
  }

  .tooltip-right {
    top: 0;
    left: 125%;
  }

  .tooltip-bottom {
    top: 135%;
    left: 50%;
    margin-left: -10px;
  }

  .tooltip-left {
    top: 0;
    bottom: auto;
    right: 128%;
  }
}


/* loading */
.loading-image {
  @include position(fixed, $t: 50%, $l: calc(50% - 80px), $z: 1000); // 로딩 이미지 가로사이즈의 절반을 빼주어 가운데 정렬 시킨다.
  @include border-radius(50%);
  @include background(160px, 160px, #fff);
  @include box-shadow(0px, 0px, 21px, 0px, rgba(0, 0, 0, 0.1));
  margin: -80px 0 0 0;
  padding-top: 32px;
  text-align: center;

  & > .loading-guide-text {
    display: block;
    padding-top: 2px;
    font-weight: 400;
    @include font-size(13px);
    color: #666;
    letter-spacing: -1px;
  }
}


/* datepicker */
.ui-widget.ui-datepicker.ui-widget-content {
  width: 295px;
  padding: 30px 25px;
  margin-top: 10px;
  border: 1px solid #333;

  .ui-widget-header {
    background: #fff;
    border: none;
    height: 50px;
    padding: 0;
  }

  .ui-datepicker-title select {
    font-family: $font-en;
    color: #222;
    height: inherit;
    padding: 4px 10px;
    border: 0;
    @include font-size(20px);
  }
}

.ui-state-highlight,
.ui-datepicker.ui-widget-content .ui-state-highlight,
.ui-widget-header .ui-state-highlight {
  background: $primary;
  color: #fff;
  border: none;
}

.ui-datepicker.ui-widget.ui-datepicker td span,
.ui-widget.ui-datepicker td a {
  text-align: center;
}

.ui-widget.ui-datepicker .ui-state-default,
.ui-widget.ui-datepicker .ui-widget-content .ui-state-default,
.ui-widget.ui-datepicker .ui-widget-header .ui-state-default,
.ui-widget.ui-datepicker .ui-button,
html .ui-widget.ui-datepicker .ui-button.ui-state-disabled:hover,
html .ui-widget.ui-datepicker .ui-button.ui-state-disabled:active {
  @include background(25px, 25px, #fff);
  line-height: 20px;
  border: none;
  font-weight: normal;
  color: #454545;
  text-align: center;
  margin: auto;
}

.ui-widget.ui-datepicker .ui-state-active,
.ui-widget.ui-datepicker.ui-widget-content .ui-state-active,
.ui-widget.ui-datepicker .ui-widget-header .ui-state-active,
.ui-widget.ui-datepicker a.ui-button:active,
.ui-widget.ui-datepicker .ui-button:active,
.ui-widget.ui-datepicker .ui-button.ui-state-active:hover {
  border: none;
  background: $primary;
  font-weight: normal;
  color: #fff;
}

.ui-datepicker th.ui-datepicker-week-end:first-child > span {
  color: $primary;
}

.ui-widget.ui-datepicker .ui-datepicker-week-end:first-child .ui-state-default {
  color: $primary;
}

.ui-widget.ui-datepicker .ui-datepicker-week-end:last-child {
  color: #222;
}

.ui-widget.ui-datepicker .ui-state-active,
.ui-widget.ui-datepicker.ui-widget-content .ui-state-default.ui-state-active {
  color: #fff;
}

.ui-datepicker .ui-datepicker-prev .ui-icon {
  background: url('../images/common/date-select-left.png') no-repeat center;
}

.ui-datepicker .ui-datepicker-next .ui-icon {
  background: url('../images/common/date-select-right.png') no-repeat center;
}


/* button */
.btn {
  background-color: #fff;
  border: 1px solid #c3c3c3;
  color: #666;
  cursor: pointer;
  display: inline-block;
  @include font-size(18px);
  height: 60px;
  line-height: 60px;
  padding: 0 10px;
  text-align: center;
  vertical-align: middle;
  @include opacity(1);
  @include transition(0.5s);

  &.btn-primary {
    background-color: #ededed;
    border: 1px solid transparent;
    color: #666;
  }

  &.btn-black {
    background-color: #333;
    border: 1px solid transparent;
    color: #fff;
  }

  &.btn-default {
    background-color: #fff;
    border: 1px solid #c3c3c3;
    color: #666;
  }

  &.btn-agree-all {
    border: 1px solid #c3c3c3;
    color: #666;
    background: #fff url('../images/common/agree-check.png') no-repeat 30px 20px;
  }

  &.btn-agree-all.active {
    color: #fff;
    border: transparent;
    background: #f76252 url('../images/common/agree-check-on.png') no-repeat 30px 20px;
  }

  &.btn-inquiry {
    height: 35px;
    padding: 0 16px;
    line-height: 33px;
    font-weight: 400;
    @include font-size(14px);
    color: #222;
    letter-spacing: -0.35px;
    border: 1px solid #dedede;
    @include border-radius(2px)
  }

  &.btn-inquiry:hover {
    border: 1px solid #222;
  }

  &.btn-inquiry > i {
    @include position(relative, $t: 2px);
    display: inline-block;
    margin-right: 6px;
    @include background(14px, 15px, url('../images/common/icon-question.png'));
  }

  &.btn-board-default {
    min-width: 95px;
    height: 35px;
    padding: 0 16px;
    line-height: 35px;
    font-weight: 400;
    @include font-size(14px);
    color: #222;
    letter-spacing: -0.35px;
    border: 1px solid #dedede;
    @include border-radius(2px)
  }

  &.btn-board-default:hover {
    border: 1px solid #222;
  }

  &.btn-board-default.disabled:hover {
    border: 1px solid #dedede;
  }

  &.link-underline {
    display: inline-block;
    height: auto;
    padding: 0 0 2px 0;
    border: none;
    border-bottom: 1px solid #222;
    @include font-size(0px);
    line-height: 1;
    background: none;
  }

  &.link-underline span {
    position: relative;
    display: inline-block;
    padding-right: 17px;
    font-weight: 300;
    @include font-size(14px);
    color: #222;
    letter-spacing: -0.35px;
  }

  &.link-underline span:after {
    content: '';
    @include position($t: 50%, $r: 0);
    @include background(5px, 10px, url('../images/common/arrow-right-more.png') no-repeat);
    margin-top: -5px;
  }

  &.btn-small-white {
    height: auto;
    padding: 0 16px;
    font-weight: 400;
    @include font-size(13px);
    color: #000;
    line-height: 23px;
    letter-spacing: -0.33px;
    border: 1px solid #dedede;
    @include border-radius(2px);
    background: #fff;
  }

  &.disabled {
    background-color: #fff;
    border: 1px solid #ededed;
    color: #ccc;
    cursor: default;
  }
}

.btn-group {
  margin-right: 4px;

  .btn:first-child {
    margin-right: 4px;
  }

  .btn + .btn {
    margin-right: 4px;
  }

  .btn + .btn:last-child {
    margin-right: 0;
  }

  &.btn-center {
    text-align: center;
    margin-top: 24px;
    margin-bottom: 24px;
  }

  &.btn-center .btn {
    min-width: 100px;
    height: 36px;
    line-height: 35px;
    @include font-size(16px);
  }

  &.btn-center .btn:nth-child(n) {
    margin-right: 10px;
  }

  &.btn-center .btn:last-child {
    margin-right: 0;
  }

  &:nth-last-child(1) {
    margin-bottom: 10px;
    margin-right: 0;
  }
}

.btn-group-pop {
  clear: both;
  text-align: center;

  .btn {
    width: 100%;
    height: 60px;
    @include font-size(18px);
    letter-spacing: -0.45px;
    margin-bottom: 15px;
  }

  .btn.disabled:hover,
  .btn.disabled:focus {
    background-color: #fff;
    border: 1px solid #ededed;
    color: #ccc;
    cursor: default;
    outline-width: medium;
  }

  &.splits-02 .btn {
    width: 225px;
    margin-right: 5px;
  }

  &.splits-02 .btn:nth-child(2n) {
    margin-right: 0;
  }
}

a.btn-link {
  border: 0;
  text-decoration: underline;
  text-decoration-color: #26a69a;
  color: #26a69a;
  background-color: transparent;
}


/* layout */
.waves-effect {
  @include position(relative, $z: 1);
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  vertical-align: middle;
  @include transition(.3s ease-out);
}

#skipNav {
  @include position(relative, $z: 9999);

  & > a {
    @include position($t: -80px, $l: 0);
    @include background(193px, 80px, #444);
    @include font-size(15px);
    text-align: center;
    line-height: 80px;
    color: #fff;
  }

  & > a:focus,
  & > a:active {
    top: 0;
    left: 339px;
    @include transition(top .1s ease-in);
  }
}

main {
  *::-moz-selection {
    background-color: $secondary;
    color: #ffffff;
  }

  & ::selection,
  input[type=radio] + label::selection,
  input[type=checkbox] + label::selection {
    background-color: $secondary;
    color: #fff;
  }
}

.hidden {
  @include position($t: auto, $l: -10000px);
  display: block;
  width: 0;
  height: 1px;
  overflow: hidden;
  text-indent: -9000px;
}


/* ie9 대응 */
html[data-useragent*='MSIE 9.0'] {
  /* select */
  select {
    padding: 0 0 0 20px;
    background: #fff;
  }

  /* label */
  .input-label-group .label-holder {
    display: block;
    line-height: 3.6;
  }

  .input-label-group .label-holder.input-m {
    display: block;
    line-height: 45px;
  }

  .input-label-group .label-holder.label-off {
    display: none;
  }

  /* 파일첨부 */
  .file-box > .label-holder {
    @include font-size(16px);
    line-height: 45px;
  }
}


/* media query */
